[2015-08-28 17:08] hugegreenbug opened #1 "Logo"
We need a logo

[2015-08-28 17:09] hugegreenbug opened #2 "Color scheme and design"
We are in need of a color scheme and general design to be used through out the distro and the website.

[2015-08-28 17:11] hugegreenbug opened #3 "Desktop appearance"
The standard Xubuntu isn't as appealing as it could be. Let's try to generate some ideas on how it could be better for Chromebooks.

[2015-08-28 17:12] coolstar commented on #3
This was the setup I used back when I used Xubuntu on my chromebook.
![image](https://cloud.githubusercontent.com/assets/1431548/9552488/4c82b930-4d6d-11e5-8c54-cd5870f7d238.png)

[2015-08-28 17:19] hugegreenbug commented on #3
I do like your whisker menu and desktop layout. Would you mind adding your whisker menu to the repos?

[2015-08-28 17:23] coolstar commented on #3
@hugegreenbug I don't have the configuration files I used back then but it shouldn't be hard to re-create. The latest upstream whisker menu will work fine as all my code has been pushed upstream.

[2015-08-28 17:23] coolstar commented on #2
I'd say for the website we can use Material Design.

[2015-08-28 17:23] hugegreenbug commented on #3
Ok, sounds good.

Hugh

On Fri, Aug 28, 2015 at 11:23 AM, CoolStar <notifications@github.com> wrote:

[2015-08-28 18:41] hugegreenbug opened #4 "Build system"
We need an automated build system to pull in the latest packages and make nightly builds.

[2015-08-28 18:41] hugegreenbug opened #5 "Web site"
We need a website

[2015-08-28 19:16] Houseoftea commented on #1
What do you have in mind for it?

[2015-08-28 19:19] Houseoftea commented on #2
Material design is an option, I'll look into making a color pallet and then you guys can critique and vote on them

[2015-08-28 19:52] hugegreenbug commented on #1
The suggestions in the doc were good:

1. The element of Gallium
2. A play on the Chrome logo

I would like to add:

The letter G, stylized, that turns into liquid metal ... and then tries to
kill John Connor.

Just kidding about the terminator reference.

Hugh

On Fri, Aug 28, 2015 at 1:16 PM, Stephen Duncanson <notifications@github.com

[2015-08-29 05:37] coolstar opened #6 "Fix chromeos-laptop module."
Some Acer C720P's (like the one I received today) ship with Celeron 2957U and an Elan trackpad instead of a cypress trackpad. This means that although trackpad works fine in Chrome OS, it doesn't work in Linux on the stock BIOS.

I'm fixing up the ACPI tables in my modified BIOS right now so the module won't have to be patched to work on that, however we still want to patch the module for users of

[2015-08-29 13:03] Houseoftea commented on #5
Template or from scratch?
There are lots of templates we could steal
or we could make a very simple one.

Did you intend on having fourms or other complex features on the site?

[2015-08-29 13:10] Houseoftea commented on #2
Lets see
The font that google uses for things is called open sans and the style is light 300
as seen here:
Should we use the same font?
Should we have font at all?
Or would you like to just have an icon sized thing for our symbol
![chromebook-logo](https://cloud.githubusercontent.com/assets/13292966/9562018/c4c341ec-4e2d-11e5-841e-9cf0508fc409.png)

[2015-08-29 13:45] Houseoftea commented on #1
Some ideas:

Just ideas! feel free to shoot them down.

First here are the basic colors that I ripped from a chorme logo. using them would allow us to bridge the gap between chrome and the gallium elemental symbol.
![chrome_colors](https://cloud.githubusercontent.com/assets/13292966/9562182/5b6805ca-4e32-11e5-9aa8-f0007cb3ff2d.png)

And here is a basic atomic symbol for gallium used with the color

[2015-08-29 13:46] Houseoftea commented on #1
also I was going to put linux under the Ga but well, just tell me what you think.
Use the colors? differnt pallet? differnt direction altogether?

[2015-08-29 13:53] Houseoftea commented on #2
Posted this also in the logo issue but here are the basic colors:
![chrome_colors](https://cloud.githubusercontent.com/assets/13292966/9562195/ecb3d68a-4e32-11e5-9df3-7fcdcc5aa54b.png)

The generic set up for terminal color schemes is

fg:
bg:
cursor color:

color0: black1
color7: black2

color1: red1
color9:red2

color2:green1
color10:green2

color3: yellow1
color11: yellow2

color4: blue1
color1

[2015-08-29 13:56] Houseoftea commented on #3
We should try to do something differnt.
Not so outlandish as unity but we want to make it stand out from the crowd.

We could model it after chromeos but chromixium already does that.
For now we may want to focus on more technical aspects of dev and ship with only a slightly modified xfce.

I wonder how much we can customize it so that its truely unique.

Good work though guys!

[2015-08-30 02:19] hugegreenbug commented on #5
I was thinking of bootstrap with some customizations. Distroshare.com was
designed by Sam Hewitt and we can use some of that design.

Hugh

On Sat, Aug 29, 2015 at 7:03 AM, Stephen Duncanson <notifications@github.com

[2015-08-30 02:24] hugegreenbug commented on #1
Thanks for starting the discussion. My opinion is to not use Google's
colors. We could do something similar to Chromium's colors or just start on
something new.

I like using the Gallium element, but it couldn't really be used in all
places like the menu button since it would be too hard to read. I'll try to
make some as well this weekend.

Hugh

On Sat, Aug 29, 2015 at 7:46 AM, Stephen Duncanson

[2015-08-30 02:24] hugegreenbug commented on #2
Material design would be fine with me.

Hugh

On Fri, Aug 28, 2015 at 1:19 PM, Stephen Duncanson <notifications@github.com

[2015-08-30 02:40] hugegreenbug commented on #6
Ok. I'll add the kernel to our repos so we can make fixes like this. Then I'll try to fix the module.

[2015-08-30 12:39] Houseoftea commented on #1
Makes sense if we want to scale it down to small size.
Spitting out more rough ideas, now without the chrome colors!
I really didnt know where to start so I made those.
Hopefully this helps us figure out what we dont want so we may better find our perfect logo.
Unrefined ideas:
![circle mess](https://cloud.githubusercontent.com/assets/13292966/9567275/93febbca-4ef2-11e5-848a-dc765e9778ae.jpg)
![ci

[2015-09-01 00:23] james-reefer commented on #3
Definitely want to have the default Search key open the Whisker Menu, the
naming of the hotkey is a little opaque, and it would reduce user friction

On Sat, Aug 29, 2015 at 9:56 AM, Stephen Duncanson <notifications@github.com

[2015-09-01 00:24] james-reefer commented on #5
Second Bootstrap.com, we could just have a subdomain and a redirect from
galliumos.com

On Sat, Aug 29, 2015 at 10:19 PM, Hugh Greenberg <notifications@github.com>
wrote:

[2015-09-01 00:30] james-reefer commented on #2
Material is good with me, too, I think we should avoid being too "Chromey"
in general.

On Sat, Aug 29, 2015 at 10:24 PM, Hugh Greenberg <notifications@github.com>
wrote:

[2015-09-01 15:18] hugegreenbug commented on #5
There is no need for a subdomain. Bootstrap is just a web framework.

Hugh

On Mon, Aug 31, 2015 at 6:24 PM, james-reefer <notifications@github.com>
wrote:

[2015-09-02 18:00] ColtonDRG opened #7 "What web browser(s) should be included out of box?"
Discussion, please.

[2015-09-02 18:05] ColtonDRG commented on #7
The most obvious choices are Chromium and Firefox, however Midori is a nice lightweight browser.

[2015-09-02 18:09] ColtonDRG commented on #5
I believe he was referring to the Twitter Bootstrap framework, not Bootstrap.com. We should also have a wiki, forum, blog, etc..

[2015-09-02 18:14] hugegreenbug opened #8 "Ubiquity's partitioning tool breaks ChromeOS' partition"
I've known about this for some time, but never had time to look into it. It would be nice if the installer could partition the drive for GalliumOS and keep ChromeOS intact.

---
(Ubiquity partitioner should)
Detect chromeos
...
Resize Chromeos partitions correctly
...
Guided mode shouldn't create a swap and shouldn't break ChromeOS

(migrated from Trello) by reynhout

---

[2015-09-02 18:59] coolstar commented on #7
I prefer loading Chrome and Firefox. Midori is nice but a lot of people have extensions they want to use.

[2015-09-02 19:42] ColtonDRG commented on #1
I think the logo should be circular. That way we can make stickers that perfectly cover the original Chrome logo.

[2015-09-02 19:45] ColtonDRG commented on #2
I do like the Chrome colors, but I agree that we should avoid knocking off too much from Chrome, to avoid legal issues with Google.

[2015-09-03 04:13] ColtonDRG commented on #1
Here is an obese penguin that I made in the GIMP. He needs arms and legs, and a less terrifying stare, but I actually think he's kinda cute.

![obese-tux](https://cloud.githubusercontent.com/assets/5587661/9650412/ba8e1874-51bf-11e5-8bdf-a64d3944bc13.png)

[2015-09-03 05:26] Houseoftea commented on #1
I like the penguin! +1
Simple, scalable down to icon size and not ugly

[2015-09-03 05:31] hugegreenbug commented on #1
I like it also

On Wednesday, September 2, 2015, Stephen Duncanson <notifications@github.com>
wrote:

--
Hugh

[2015-09-03 05:55] ColtonDRG commented on #8
I feel it should be noted that this only matters for devices using the stock SeaBIOS payload, if there is one.

[2015-09-08 14:55] coolstar opened #9 "Fix atmel_mxt_ts module"
The atmel_mxt_ts module is missing platform data for peppy and auron. This means that while it works on samus, it doesn't work properly on Acer C720P or Acer C740 with C720P display, leading to broken touch screen.

I have posted a patch for this issue here: https://ghostbin.com/paste/bzgdv

[2015-09-09 03:42] hugegreenbug opened #10 "Consider moving browser's cache to a tmpfs mount"
See: https://wiki.archlinux.org/index.php/Firefox_Ramdisk

[2015-09-09 03:55] ColtonDRG commented on #10
+1, but we should make it toggleable in the settings, and perhaps only enable it by default on devices with 4GB+ of RAM. For Chromium we can either make the necessary changes in our fork, or use the manual method outlined on the Arch Wiki. For Firefox we can just use the methods outlined in the Arch Wiki.

[2015-09-09 20:42] Roechamboe commented on #1
+1 penguin Google just realeased their new multicolored G what if we did the same with the a and assoicated with Ga in the center?

[2015-09-09 20:45] ColtonDRG commented on #1
Roechamboe The idea isn't bad, I actually brought it up in the chat a while ago, but the big problem is that Google has those logos trademarked, and we don't really want to get on Google's bad side.

[2015-09-09 21:06] Roechamboe commented on #1
Yeah good call avoid any ambiguity at all cost.

[2015-09-09 21:50] Roechamboe commented on #7
+1 chrome & firefox as newer versions of Chrome has alot of the buildin functionality of ChromeOs.

[2015-09-10 06:19] Roechamboe commented on #1
If we get this logo nailed down ill foot the bill for various size stickers (metallic sticky seals that are difficult to get off).

[2015-09-11 05:37] ColtonDRG commented on #7
I think for the first build we should use Firefox. We can always change it in the future, perhaps once our Chromium fork has some progress.

[2015-09-11 07:27] ColtonDRG commented on #7
On second thought, maybe we should provide some option at install time to choose. I would say to just include both browsers, but that's not too wise considering we are working Chromebooks, which frequently have SSDs with the storage capacity of a doorknob. In fact, it could be beneficial to include such a system anyway because we could allow the user to choose if they want other things like LibreO

[2015-09-11 07:29] ColtonDRG commented on #6
What's the current status on this issue?

[2015-09-11 07:32] ColtonDRG commented on #5
I am currently working on a website that uses material design, and Twitter Bootstrap. The concept stuff for that is at http://www.galliumos.org/home/. Obviously, there is no content yet, but we have the templates and layout for a really nice site, we just need to fill in the content.

[2015-09-11 07:41] ColtonDRG opened #11 "XFCE's settings are not exactly intuitive"
The various different settings and menus in XFCE are not exactly elegant, and I feel like we should try to make the distro as user friendly as possible. We need to keep in mind that we may all be computer savvy, but our target userbase is probably not. Sure, there will be plenty of people who know what they are doing, but want to use our distro as a quick start to get Linux running properly on the

[2015-09-12 04:58] coolstar commented on #6
@ColtonDRG laptop is still bricked so have to wait until Monday to get a new dediprog and test.

[2015-09-12 05:17] ColtonDRG commented on #6
Ah, okay, carry on.

On Fri, Sep 11, 2015 at 10:58 PM, CoolStar < notifications@github.com [notifications@github.com] > wrote:
@ColtonDRG [https://github.com/ColtonDRG] laptop is still bricked so have to wait until Monday to get a new dediprog and
test.

—
Reply to this email directly or view it on GitHub
[https://github.com/GalliumOS/galliumos-distro/issues/6#issuecomment-139721749] .[https://git

[2015-09-12 18:35] hugegreenbug commented on #1
Sam Hewitt has made this
![sam_logo](https://cloud.githubusercontent.com/assets/1656137/9833155/be8ab698-594a-11e5-87ee-fc97ac9ef03a.png)

What do you all think?

[2015-09-12 23:17] Roechamboe commented on #1
I like it!

[2015-09-23 03:55] ColtonDRG commented on #5
@hugegreenbug has let me know that the designer for the Solus project may be helping us with the design of the website. Currently I think he'll be designing it, and I'll be building it.

[2015-09-29 15:31] hugegreenbug commented on #6
I have included the patches from ChromeOS, so it should be fixed.

[2015-09-29 15:31] #6 closed

[2015-09-29 15:31] hugegreenbug commented on #4
I have a build system. It isn't automated yet since I don't have a good place to automate it yet.

[2015-10-11 18:17] elioqoshi commented on #1
So seems we decided to go with this:
https://github.com/opensourcedesign/jobs/issues/58#issuecomment-147214860

[2015-10-11 19:21] elioqoshi commented on #1
Here is the logo in full color and white in SVG and PNG.
https://dl.dropboxusercontent.com/u/62482708/Gallium%20OS.zip

[2015-10-11 19:21] elioqoshi commented on #1
@hugegreenbug can we put the logo on the website? Also it would be great to use Open Sans as the font for the website, for consistency

[2015-10-11 19:22] elioqoshi commented on #1
![logo-01](https://cloud.githubusercontent.com/assets/5436686/10418544/33b8a9fa-705e-11e5-9b09-f4b01a7f5f49.png)
![logo-02](https://cloud.githubusercontent.com/assets/5436686/10418546/33e8b35c-705e-11e5-9193-039816a30d2f.png)

[2015-10-11 20:56] elioqoshi commented on #2
based on this, we also got the color scheme done.
https://github.com/GalliumOS/galliumos-distro/issues/1

[2015-10-11 20:58] elioqoshi commented on #7
+1 with @ColtonDRG

[2015-10-11 21:00] elioqoshi commented on #5
Got a quick mockup for the website, heavily inspired from Elementary OS' website.
What do you think?
![2](https://cloud.githubusercontent.com/assets/5436686/10419061/ddf701c0-706b-11e5-9b21-3a88373bd020.jpg)

[2015-10-11 21:28] elioqoshi commented on #5
Of course we will adapt our own style here. So let's see which patterns fit best here.
PapyrOS has an amazing website also
http://papyros.io/

[2015-10-11 21:29] elioqoshi commented on #5
openSUSE has also a fancy landing page
https://www.opensuse.org/

[2015-10-11 21:58] elioqoshi commented on #5
Lots of tweaks here to come up with our own flavour. What do you think?

![3](https://cloud.githubusercontent.com/assets/5436686/10419305/faa950cc-7073-11e5-8cc7-c126b894bc64.jpg)

[2015-10-11 23:06] #1 closed

[2015-10-11 23:10] ColtonDRG commented on #5
I'm liking the look of this. It looks really incredible, but I am wondering what it would look like if the background was darker. I have always been a fan of darker backgrounds because I feel like they're easier on the eyes and they always make me feel more comfortable.

[2015-10-12 11:22] elioqoshi commented on #5
@ColtonDRG Thanks for the feedback! I'm personally not a big fan of dark backgrounds, but I can see why some like it. What do you think of this?
![dark 3](https://cloud.githubusercontent.com/assets/5436686/10426841/5339ab22-70e4-11e5-83ef-bd3440a1fee6.jpg)

[2015-10-12 14:14] ColtonDRG commented on #5
@elioqoshi Oh, that looks really nice. We may be able to add in a button that can quickly switch between the dark or light version depending on people's preference since some people might not like the dark background so much.

[2015-10-12 14:28] elioqoshi commented on #5
@ColtonDRG I'd be all up for that! However I think light should be the default hehe

[2015-10-14 19:23] elioqoshi commented on #3
@hugegreenbug tried the Numix Circle Icon theme and it looks fantastic. We just need to fix 2-5 icons and it should be good to go for a Beta

[2015-10-14 19:25] elioqoshi opened #12 "ZNC Server for IRC"
@ColtonDRG Could you set up a ZNC server for me on IRC? @hugegreenbug suggested it to me :)

[2015-10-14 19:29] hugegreenbug commented on #3
We also agreed on the Arc theme, right? Maybe it needs a few more mods too.

Hugh

On Wed, Oct 14, 2015 at 1:23 PM, Elio Qoshi <notifications@github.com>
wrote:

[2015-10-14 19:30] elioqoshi commented on #3
Yeah, the Arc theme is solid. I'd prefer if we could ship with the option to have it in light and dark. Is that possible as of now?

[2015-10-14 19:31] hugegreenbug commented on #3
Yes, it comes with two versions and you can easily switch them in the
settings dialog.

Hugh

On Wed, Oct 14, 2015 at 1:30 PM, Elio Qoshi <notifications@github.com>
wrote:

[2015-10-14 19:32] elioqoshi commented on #3
Perfect! Do you want me to send you the logo icon with a transparent hole in the middle (for the "start" menu)

[2015-10-14 19:32] hugegreenbug commented on #3
Actually, it comes with three versions: Arc, Arc-Darker, Arc-Dark.

Hugh

On Wed, Oct 14, 2015 at 1:31 PM, Hugh Greenberg <hugegreenbug@gmail.com>
wrote:

[2015-10-14 19:32] hugegreenbug commented on #3
Sure. Thanks.

Hugh

On Wed, Oct 14, 2015 at 1:32 PM, Hugh Greenberg <hugegreenbug@gmail.com>
wrote:

[2015-10-14 19:37] elioqoshi commented on #3
Here we go
https://dl.dropboxusercontent.com/u/62482708/Gallium.svg

[2015-10-14 19:42] hugegreenbug commented on #3
Oh yeah, I think we are going to use GalliumOS in everything, unless you
object. You don't need to change that image. I made one for the boot splash
yesterday[image: Inline image 2]

Hugh

On Wed, Oct 14, 2015 at 1:37 PM, Elio Qoshi <notifications@github.com>
wrote:

[2015-10-14 19:43] hugegreenbug commented on #3
Thanks

Hugh

On Wed, Oct 14, 2015 at 1:37 PM, Elio Qoshi <notifications@github.com>
wrote:

[2015-10-15 08:41] elioqoshi commented on #3
I used the same approach like Chrome OS. Chrome OS nowhere has the OS in the logo. The logo just says chrome. I had the same approach for the logo. Of course in written form it would be always Gallium OS. What do you think?

[2015-10-15 21:22] hugegreenbug commented on #3
Whatever you think looks better is fine with me. Chrome is also a browser while Gallium is an element.

[2015-10-16 02:21] ColtonDRG commented on #12
Sure thing. We want everyone working on the project to be able to be connected to IRC at all times, so anyone else who doesn't already have IRC bouncer arrangements, please comment on this issue.

[2015-10-16 05:37] ColtonDRG commented on #12
Alright @elioqoshi. I've created an account for you on the bouncer and sent an email detailing how to connect to the @gmail.com address found on your public GitHub profile page.

[2015-10-16 18:48] hugegreenbug commented on #3
@elioqoshi I tried the logo with the transparent center and it doesn't look better, IMHO.

[2015-10-16 20:27] elioqoshi commented on #3
Can you put a screenshot here?

[2015-10-16 20:43] hugegreenbug commented on #3
![screenshot_2015-10-16_14-42-58](https://cloud.githubusercontent.com/assets/1656137/10552902/41286792-7414-11e5-9ca5-e3423d771384.png)

[2015-10-16 20:45] elioqoshi commented on #3
It looks better than with white however, I'd say

[2015-10-17 14:53] hugegreenbug commented on #8
This is too much work to do now. Closing

[2015-10-17 14:54] hugegreenbug commented on #7
It isn't difficult to install additional software with either a GUI or apt-get install. We are just going to go with chromium since it is faster.

[2015-10-17 14:56] hugegreenbug commented on #3
I included the transparent logo in the latest nightlies.

I'm just going to go with GalliumOS in the branding. Gallium doesn't refer to anything we are working on yet. If we fork  Chromium, we could name it Gallium.

[2015-10-18 07:29] elioqoshi commented on #7
@hugegreenbug may I ask how this decision was taken? I don't see anywhere in the thread that we took a decision :)

[2015-10-18 07:30] elioqoshi commented on #8
You should mark this for "later" or similar instead of closing it, I'd say

[2015-10-18 19:01] hugegreenbug commented on #7
@elioqoshi I just made the decision since I'm putting the packages together and I needed to know which browser to use. We can vote on it if you like. I vote for chromium.

[2015-10-18 23:29] elioqoshi commented on #7
I might be biased, but I vote for Firefox.

[2015-10-18 23:34] hugegreenbug commented on #7
I normally would vote for firefox, it performs poorly on my chromebooks
compared to chromium/chrome.

Hugh

On Sun, Oct 18, 2015 at 5:29 PM, Elio Qoshi <notifications@github.com>
wrote:

[2015-10-19 00:10] ColtonDRG commented on #4
Jenkins at ci.galliumos.org

[2015-10-19 00:10] #4 closed

[2015-10-19 00:16] ColtonDRG commented on #7
Normally I would say we should stick with Firefox too, but it has many of the same issues as Chromium and it doesn't perform as well in general. We should stick to Chromium for now and look into something else in the future.

[2015-10-19 00:17] #2 closed

[2015-10-19 00:24] hugegreenbug opened #13 "Default media players"
I think we should replace the stock media players with ones that are more light weight. Xubuntu comes with gmusicbrowser and parole. Here are my votes:

Music: DeadBeef - http://deadbeef.sourceforge.net/ (http://thesimplecomputer.info/choosing-a-linux-music-player)
Video: Smplayer (mplayer) - http://smplayer.sourceforge.net/

[2015-10-19 00:30] Roechamboe commented on #7
I would vote firefox because its lower memory consumption normally but chrome has a more snappy feel as much as it pains me.
+1 chrome *sigh*

[2015-10-19 04:06] ColtonDRG commented on #13
I vote for VLC. Never had any problem with that on my Chromebook. It has music management features, but they're not really anything special so if we settle on VLC we may want to look into a different player for music. All that said, we may not want to include any media players at all with the default install. Disk space is precious and not everyone will be using their Chromebook for playing media.

[2015-10-19 05:02] hugegreenbug commented on #13
What is your vote then? No music player, but include VLC? No music or video player?

[2015-10-19 05:37] ColtonDRG commented on #13
Okay, my vote is to include VLC for basic double-clickable playback of all sorts of media. If someone wants something else, they can easily apt-get it.

+VLC only

[2015-10-19 07:40] elioqoshi commented on #13
+VLC only also. We can always change it after feedback

[2015-10-19 07:41] elioqoshi commented on #7
Had no experience with Firefox on Chrome devices, so if it performs pooer than usually, I stick with your votes then.

[2015-10-19 14:45] hugegreenbug commented on #7
Firefox doesn't perform worse than usual, it is just that the performance
differences are very clear on a lower powered machine.

Hugh

On Mon, Oct 19, 2015 at 1:41 AM, Elio Qoshi <notifications@github.com>
wrote:

[2015-10-19 15:25] reynhout commented on #7
My experience with the two is that Firefox performs better than Chrome when many tabs are open. Chrome performs slightly better when only a few tabs are open.

However, my opinion is that most ChromeOS device users will expect Chrome, and those that don't know how to solve the problem. I include both Chrome and Firefox in chrx, but that comes with a cost. If I only included one, I'd probably choos

[2015-10-19 15:33] reynhout commented on #13
Keeping in mind that DeadBeef is 13MB installed, I can't think of any reason to ship without a decent music player.

VLC is (ime) adequately superior over other video players that it's worth the somewhat heavier install size (111MB with dependencies).

[2015-10-19 16:33] ColtonDRG opened #14 "Add a IRC #galliumos Webchat link in the menus"
Should we include an IRC client? On one hand, anyone wanting to use IRC will know how to get a client, but on the other hand, the easiest way to get support for GalliumOS will be by contacting us in #galliumos, so maybe we should include one.

Once we've decided if we will include one, we need to decide what to include. HexChat is very popular and pretty decent. We need something lightweight and u

[2015-10-19 18:20] hugegreenbug commented on #14
I'm fine with including an irc client. I made a custom package for hexchat
already that by default recommends to join #galliumos instead of #ubuntu.
https://github.com/GalliumOS/hexchat/blob/master/debian/patches/ubuntu_defaults.patch

Hugh

On Mon, Oct 19, 2015 at 10:33 AM, Colton DRG <notifications@github.com>
wrote:

[2015-10-21 15:35] ColtonDRG commented on #14
@hugegreenbug Great. We should also edit that patch to say "GalliumOS (freenode)" instead of "Ubuntu Servers (freenode)", just to reduce confusion.

[2015-10-21 16:55] hugegreenbug commented on #5
@elioqoshi Would it be possible to provide me with the graphic of the laptop? I can add a screen shot of the desktop to the graphic.

[2015-10-21 17:13] hugegreenbug commented on #14
I didn't change it because I thought it was Ubuntu's server. However, it
contains just the standard servers. I'd rather just call it freenode since
that is what it

Hugh

On Wed, Oct 21, 2015 at 9:35 AM, Colton DRG <notifications@github.com>
wrote:

[2015-10-22 05:47] hugegreenbug commented on #5
I've made a lot of progress on this today. You can see it here: https://galliumos.org/testing/home/

[2015-10-22 06:46] elioqoshi commented on #5
Looking awesome @hugegreenbug ! Will comment with feedback later. Here is the laptop graphic

![laptop](https://cloud.githubusercontent.com/assets/5436686/10658668/54fc5c5e-7899-11e5-9505-dc33b9f6ef73.png)

[2015-10-22 10:18] ColtonDRG commented on #5
Wow, really nice job on the website so far @hugegreenbug! I'll turn on SSI for the server to make our lives a little easier too.

[2015-10-23 18:30] ColtonDRG commented on #7
So, is it decided then? Are we going with Chromium?

[2015-10-23 18:45] hugegreenbug commented on #7
I think so. If anyone has an objection that they haven't already expressed,
speak now.

Hugh

On Fri, Oct 23, 2015 at 12:30 PM, Colton DRG <notifications@github.com>
wrote:

[2015-10-23 20:11] ColtonDRG commented on #7
Alright. It's set. Closing. If anyone has an objection, you can still reopen the issue.

[2015-10-24 08:58] elioqoshi opened #15 "Mozilla Open Source Support Grant Program"
Good news, just after I discussed it with @hugegreenbug
https://blog.mozilla.org/blog/2015/10/23/mozilla-launches-open-source-support-program/?utm_content=buffer37d34&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer

I think we should be eligible to apply and I can be the contact for Mozilla here.

[2015-10-24 12:16] ColtonDRG commented on #12
Closing. If anyone else wants a ZNC account, just ping myself (ColtonDRG, ColtonRVL, ColtonGOS) or @hugegreenbug (hugegreenbug) in IRC and we'll set it up for you.

[2015-10-24 12:16] #12 closed

[2015-10-24 17:46] hugegreenbug commented on #15
Looks cool!

[2015-10-24 17:50] hugegreenbug commented on #5
@elioqoshi I think I'm mostly done with the front page, except for the download modal. It doesn't have to be a modal, but I could use help designing the download options. Also, if you have time, could you design a generic page for content, such as for the community page, a donation page, etc ...? The download page/modal can follow the same design. Thanks.

[2015-10-25 23:11] silvaarapi opened #16 "Hello"
Hi! My name is Silva Arapi, I am a student of Business Informatics and I have some experience with websites creation through CMSes, and I also know HTML, CSS, JQuery and Javascript. I would like to give my contribution on this project, if there is any way how I can help I would be happy to join you :)

[2015-10-26 11:36] elioqoshi commented on #16
@hugegreenbug Silva is actually a colleague of mine, would be great if she could be involved :)

[2015-10-26 15:03] hugegreenbug commented on #16
@silvaarapi We would be happy to have you on the team. Thank you.

[2015-10-26 16:53] hugegreenbug commented on #16
The best way to get involved would be though irc. We have a channel, #galliumos, on freenode.net. I can give some things to work on regarding the website.

[2015-10-26 18:13] reynhout opened #17 "Internal issue tracker"
GitHub Issues is only OK at issue tracking. We should consider setting up a primary issue tracker and leaving GitHub Issues open as a convenience for GalliumOS users.

My recommendations would be either Redmine or Trac:

https://redmine.org/
http://trac.edgewall.org/

I've used them both extensively and while both have quirks, they are a lot more flexible than GitHub Issues. I lean slightly toward

[2015-10-26 18:21] reynhout opened #18 "Add "About GalliumOS" to Xfce desktop menu"
This can be similar to the "About XFCE" item. It should pop open a new dialog that lists our names and information about the project.

(migrated from Trello)

[2015-10-26 18:24] ColtonDRG commented on #17
I agree that we should try to find some self-hosted issue tracker. The problem is, we need something that's user friendly. One huge advantage to GitHub issues is that basically anyone can use it without much technical experience.

[2015-10-26 18:26] reynhout opened #19 "Use/customize Xbindkeys GUI to Settings"
XBindkeys has a GUI, but it would be nice if it showed up in the settings dialog.
...
We might also want to develop our own GUI to make it more user friendly.

(migrated from Trello)

[2015-10-26 18:27] reynhout opened #20 "Add touchpage gestures to desktop"
We should add some touchpad gestures to the desktop

(migrated from Trello)

[2015-10-26 18:28] reynhout opened #21 "Add GalliumOS theme to GRUB menu"
Nothing too fancy, but it should look a little nicer and have our name

(migrated from Trello)

[2015-10-26 18:29] reynhout opened #22 "Test Xbindkeys defaults"
We need to test the defaults for each device we support.

(migrated from Trello)

[2015-10-26 18:29] reynhout opened #23 "Improve boot time"
We can remove more services and try to improve the start time of some.
...
Hugh did some work on this and reduced the boot time by about 6 seconds. It still feels slow. The initramfs and kernel takes a long time to decompress before init is even started. We could trim some of the extra stuff in the kernel and investigate not using initramfs.

(migrated from Trello)

[2015-10-26 18:30] reynhout opened #24 "Fix battery applet brightness control"
The slider doesn't match the max and min behavior of the hotkeys.

(migrated from Trello)

[2015-10-26 18:35] ColtonDRG commented on #16
Hi! Thanks for your interest in the project. Please meet us in the IRC channel @hugegreenbug mentioned so we can discuss things. Here's a link to join quickly through your web browser. https://kiwiirc.com/client/irc.freenode.net#galliumos

[2015-10-26 18:35] #16 closed

[2015-10-26 18:36] reynhout opened #25 "External display issues"
Primary external display requires managment rules seperate from default screen.
...
External display is not detected or integrated into xfce4 power manager so closing the lid when using an external display as primary monitor results in screen turning off unless the lid switch is disabled. If used as an extended desktop it will follow xfce power manger rules.
...
Kernel doesn't detect the hdmi bein

[2015-10-26 18:37] reynhout opened #26 "Package updating needs a strategy"
Update-manager is pretty heavy weight and is run automatically when a user logs in. It does periodic checks that can stall the system and take precious resources. The commands that stall the system can be put into cgroups with low priorities to reduce the load. However, I was thinking that maybe it would be better to remove update-manager and include synaptic package manager instead.
...
Another i

[2015-10-26 18:38] reynhout opened #27 "Switch to SLiM locker and login manager"
Better multiple monitor support. We can copy xscreensaver's XRandr code.
...
Fade effects. We can copy light locker's xrandr gamma effect.
...
Use user's wallpaper in slick lock.

(migrated from Trello)

[2015-10-26 18:39] reynhout commented on #27
The switch is done already, but I'm not sure about customizations

[2015-10-26 18:40] reynhout opened #28 "User telemetry"
I hate the idea of tracking users, but tracking them in some way is the only way we can show how many users we have. If we can show that we have a huge user base, that could help with funding.
...
We would allow users to opt out or opt in. We would collect just what we need to track unique users and have some interesting statistics (i.e., mac address and model)

(migrated from Trello)

[2015-10-26 18:54] reynhout commented on #28
This is controversial. I'd avoid it completely if we can, but at a minimum be sure to restrict the "usefulness" of data collected.

Some thoughts:
- UUID: unique but not persistent across OS installs. This might be adequate!
- MAC address: unique and not *really* that sensitive, but could be used to identify users in extreme cases. Avoid.
- Hashed and randomly salted MAC address: better, not forwa

[2015-10-26 18:58] hugegreenbug commented on #27
I improved multiple monitor support and this is in our repo.

I checked out the fade effects from light locker, but it seemed too
complicated and I didn't want to spent a whole lot of time on it. I found
that we are getting some fade from compton, so I'm happy with that. We
could increase the fade with a simple rule.

I also gave up on using the user's wallpaper for now.

I think we can close this

[2015-10-26 19:02] reynhout opened #29 "Compile Beta test focus list"
Updated areas or items that need special attention. Please update in https://galliumos.org/wiki/index.php?title=Testing_Focus

[2015-10-26 19:02] hugegreenbug commented on #28
If anyone has another suggestion, I would love to hear it. How can we count
how many installations we have?

Hugh

On Mon, Oct 26, 2015 at 12:54 PM, reynhout <notifications@github.com> wrote:

[2015-10-26 19:03] reynhout opened #30 "Web and wiki content"
Flesh out pages to be written in preparation for beta and later launches:

https://galliumos.org/wiki/index.php?title=Pages_To_Be_Written

[2015-10-26 19:09] reynhout commented on #28
Data quality goes down quickly without purposeful telemetry.

Downloads are easy.
Raw number of installs could be determined from a ping in the install (or firstboot) process.
Number of active installs might be suggested by activity in the apt repo.

None of those can gather Chromebook model info, etc.  :(

[2015-10-26 19:19] #27 closed

[2015-10-26 19:56] reynhout commented on #17
I agree. I imagine GitHub being the public facing tracker, where some bug reports are submitted but also questions and other stuff that doesn't strictly require tracking.

An internal tracker can be maintained a bit more formally and would be better able to handle the volume of a large project. It should probably be publicly visible, just not a public forum, per se. It would require a bit more tec

[2015-10-26 20:00] hugegreenbug commented on #28
I'd be interested to hear what everyone thinks about this. I was sort of thinking of cyanogenmod and how they have stats.

[2015-10-26 20:01] reynhout commented on #23
Some testing numbers (clock time, from "Booting from Hard Disk" to login prompt, as of 20151025):

GalliumOS: 12s
Lubuntu: 15s

[2015-10-26 20:10] hugegreenbug commented on #23
I made more progress since the trellis post. I trimmed down the kernel more and remove more unnecessary services.

Google has support for asynchronous driver probing in their kernel and they have made those patches available.  Integrating won't be as easy as just patching the kernel though.

We can settle on this boot time for now, but it could use future work.

[2015-10-26 20:21] reynhout opened #31 "Automate build processes"
- deb packages
- ISOs
- core image tar files

Run periodically from Jenkins and published to appropriate locations

[2015-10-26 20:27] hugegreenbug commented on #25
This was done

[2015-10-26 20:27] #25 closed

[2015-10-26 20:28] hugegreenbug commented on #28
http://www.cyanogenmod.org/blog/cmstats-what-it-is-and-why-you-should-opt-in

[2015-10-27 15:16] reynhout opened #32 "Failures installing Steam (i386) on alpha 20151026"
I'm getting failures when installing Steam on the current alpha build (20151026). I've tested both the ISO and chrx install methods. I think the issue was introduced on or after 20151024.

The problem might be generic to i386 packages, or to a specific set of them. I originally noticed the error when installing Steam, but it might be reproducible with just `libudev1:i386`.

### Observations

- Cor

[2015-10-27 15:37] hugegreenbug commented on #32
I have a custom systemd package to set an option in
/etc/systemd/logind.conf . I didn't compile the latest package for i386. I
will be the end of the day.

Hugh

On Tue, Oct 27, 2015 at 9:16 AM, reynhout <notifications@github.com> wrote:

[2015-10-27 17:22] ColtonDRG commented on #31
This should be simple. I'll create a shell account for you on the VPS hosting the website and apt repos so you can add an account for Jenkins. Jenkins should be able to drop packages in the correct place using scp, right?

[2015-10-28 00:47] reynhout commented on #30
Some page ideas:

- Why GalliumOS? (advocacy)
- Installing GalliumOS
- Get Involved

Re: "Why GalliumOS?", remember that we have two audiences: the first is Developer Mode Chromebook owners who want a new distro, but the second (larger) is ChromeOS users who want to do more with their device. Somehow we need to address both groups.

I wrote a first pass at "Installing GalliumOS" and "Get Involved"

[2015-10-28 03:29] hugegreenbug commented on #30
I think we could also use a page on firmware flashing. It should explain
that it isn't always necessary, but where to go if it is. The two firmware
people I know of are John Lewis: https://johnlewis.ie/ and Matt Devillier:
https://github.com/MattDevo/scripts .

Hugh

On Tue, Oct 27, 2015 at 6:47 PM, reynhout <notifications@github.com> wrote:

[2015-10-28 07:09] ColtonDRG commented on #22
Obviously we need to test our work. Invalid.

[2015-10-28 07:09] #22 closed

[2015-10-28 07:10] ColtonDRG commented on #32
Seeing as how this seems to effect i386 particularly, it needs to be resolved right away. We can't have broken 32-bit libs.

[2015-10-28 12:49] reynhout commented on #22
Right, this isn't a bug per se, more of a test focus item. Is it still an ongoing concern, or is it no longer relevant. I pulled it over from Trello as-is because I wasn't sure. The C720 seems fine. :)

[2015-10-28 15:39] hugegreenbug commented on #32
It should be resolved now.

Hugh

On Wed, Oct 28, 2015 at 1:10 AM, Colton DRG <notifications@github.com>
wrote:

[2015-10-29 15:23] reynhout opened #33 "Installer does not run: alpha 20151029"
reported by NxGenCowboy on IRC

Live image boots to Desktop, but installer will not run. Similar problem with install image.

[2015-10-29 15:24] reynhout opened #34 "Google Chrome/Chromium is in the menu even though it is not installed."
reported by NxGenCowboy on IRC

Since Chrome is not installed

[2015-10-30 04:10] ColtonDRG commented on #34
Chrome, or Chromium? If it's Chrome it's not our fault.

[2015-10-30 16:05] hugegreenbug commented on #34
This was my fault and I fixed it in the latest xubuntu-default-settings pacakge

[2015-10-30 16:05] hugegreenbug commented on #33
Fixed

[2015-10-30 16:05] #33 closed

[2015-10-30 16:06] hugegreenbug commented on #14
I changed it and it is in the latest package.

[2015-10-30 16:07] hugegreenbug commented on #15
I looked at this more and they said that they will only fund projects they use at first. They have a large list. Until they fund others, we don't have a chance.

[2015-10-30 16:08] hugegreenbug commented on #8
For now, I changed ubiquity so it doesn't try to install GalliumOS alongside another OS. You can still do whatever you want with the "Something else" option.

[2015-10-30 16:11] hugegreenbug commented on #9
We don't support any touch screens now. This is not something we need to fix now. Once we support touch screens, we will need to look at this. However, this only affects Coolstar's coreboot for the c720p.

[2015-10-30 16:13] hugegreenbug opened #35 "Mouse settings dialog issues"
Reset defaults doesn't work
Disabling tap to click makes it difficult or impossible to re-enable.

[2015-10-30 16:23] hugegreenbug opened #36 "XFCE display settings dialog doesn't show the displays are mirrored when then are"
Plugging in an external monitor will sometimes result in the XFCE display settings showing the monitors as mirrored, but the checkbox doesn't show them as mirrored. In order to un-mirror, one would have to check the mirrored checkbox, then uncheck it.

[2015-10-30 16:25] hugegreenbug opened #37 "Removal of an external monitor while lid is closed should suspend"
On my acer c720, I can plug in an external monitor and close the lid and it doesn't suspend, which is great. However, if I unplug the monitor while the lid is closed, the system should suspend, but it currently doesn't.

[2015-10-30 16:29] hugegreenbug opened #38 "HP Chromebook 14 media keys"
The HP Chromebook 14's media keys show up as actual media keys and not F keys. We need someone with an HP Chromebook 14 to run xbindkeys -k with the Search + Media Key for each media key.

[2015-10-30 16:30] hugegreenbug opened #39 "Media key info for the user"
Users are not going to know how we set up the media keys. A small window that starts on the first boot that shows the configuration would be nice.

[2015-10-30 16:31] hugegreenbug commented on #39
For now, we can just have section on the wiki.

[2015-10-30 16:32] hugegreenbug opened #40 "Firmware flashing and info at the installer"
It would really cool to be able to flash firmware and have information about firmware flashing at the installer.

[2015-10-30 16:33] hugegreenbug commented on #10
I investigated this more. It seems like a lot of trouble and it didn't improve the performance that much for me.

[2015-10-30 16:33] #10 closed

[2015-10-30 16:58] coolstar commented on #38
Is this on falco?

[2015-10-30 17:00] coolstar commented on #28
From what I hear, in some European countries it is illegal to export the user's MAC address

[2015-10-30 17:00] hugegreenbug commented on #38
Yes

[2015-10-30 17:12] hugegreenbug commented on #21
This is in the latest nightlies and was added to galliumos-imager

[2015-10-30 17:12] #21 closed

[2015-10-30 17:13] hugegreenbug commented on #28
We wouldn't store mac addresses, only hashes.

Hugh

On Fri, Oct 30, 2015 at 11:00 AM, CoolStar <notifications@github.com> wrote:

[2015-10-30 17:18] hugegreenbug commented on #28
Maybe we should just with a generated uid as @reynhout mentioned.

[2015-10-30 17:28] hugegreenbug commented on #28
@reynhout What is the industry's best practice? I agree about not over thinking this.

[2015-10-30 17:45] reynhout commented on #28
My sense is that UUIDs are the least controversial. Services that are very privacy-conscious will avoid logging IP addresses, or at least limit the retention time of them.

We don't really fall into that category. IP addresses don't tell us anything important, but it would be interesting to know the user's country. System locale might be more useful (for that and other things) than geolocation any

[2015-10-31 05:42] hugegreenbug commented on #35
Fixed

[2015-10-31 05:42] #35 closed

[2015-10-31 06:05] hugegreenbug commented on #36
Fixed

[2015-10-31 06:05] #36 closed

[2015-10-31 06:44] coolstar commented on #38
![image](https://cloud.githubusercontent.com/assets/1431548/10862300/2db51b90-7f60-11e5-89c6-a610d804656c.png)
are you referring to the volume keys?

[2015-11-01 06:03] hugegreenbug commented on #38
The keys that are different from the C720 are the volume and brightness
keys.

Hugh

On Sat, Oct 31, 2015 at 12:44 AM, CoolStar <notifications@github.com> wrote:

[2015-11-01 15:19] reynhout commented on #17
De-prioritizing this for now. Let's stick with github unless and until it becomes unwieldy.

[2015-11-01 22:28] ColtonDRG commented on #37
This is amazing progress. Most operating systems (including Windows) don't even care if a monitor is plugged in at all. It would be great to get this working, but we're already doing better than most OSes by an order of magnitude.

[2015-11-01 22:30] ColtonDRG commented on #31
ISOs done. Not sure about core images. The buildbox(es) for deb packages are also ready to roll. We made incredible progress with the CI system on Thursday.

[2015-11-01 22:42] ColtonDRG commented on #28
I think a system UUID is a good idea. This will also eliminate issues where certain users may have more than one networking interface that I use regularly. I, for example, use both the eth port on my Chromebook and my WiFi card regularly, so using MAC addresses, my system would be counted as two. On the darker side, UUID would cause some issues for users who reinstall the system regularly, but I d

[2015-11-02 02:11] reynhout commented on #31
The debs are mostly building, but a few are them are still failing for various reasons. Some look like they might not be expected to build -- need to check with @hugegreenbug. There are also a few packages that aren't on github yet, so we need to test them too.

We're revisiting some of the ISO building process to use a fresh base files system each time (or to make it an option). Probably about 50

[2015-11-02 11:11] ColtonDRG commented on #8
Great, I guess we can call this a "workaround" of sorts. At least it doesn't break anything.

[2015-11-02 11:13] ColtonDRG commented on #39
We should at least add a shortcut to said wiki page somewhere.

[2015-11-02 11:16] ColtonDRG commented on #40
Gnome Software has a feature that can flash firmware, but I'm not exactly sure how it works. I think we shouldn't try to automate this process just yet. We should make a page on the wiki about it, but it can get a bit technical and you can easily brick your device if you don't know what you're doing, so I think we should just keep it to a page on the wiki and give a fair warning to users that it i

[2015-11-02 11:16] #40 closed

[2015-11-03 07:21] hugegreenbug commented on #38
Actually all of the keys in the top row are different. I requested help here: https://www.reddit.com/r/chrubuntu/comments/3r1bwe/request_help_with_media_keybindings_for_hp/ and I got a response from matthias0608. He provided me with all of the keys except the volume and brightness keys. The volume and brightness keys work out of the box since they are ACPI keys, not F keys. So, I'll leave those al

[2015-11-03 07:21] #38 closed

[2015-11-03 07:22] hugegreenbug commented on #19
I don't know about this. The GUI is pretty crappy. I'm thinking of not including it by default.

[2015-11-03 09:33] ColtonDRG commented on #19
Yeah, I could write a better GUI in my sleep using bash scripts. :P

[2015-11-03 16:23] vidplace7 opened #41 "Official Releases Download website - get.galliumos.org"
Currently, our releases are distributed via the [Jenkins Web Interface](https://ci.galliumos.org/job/GalliumOS-Nightlies/lastSuccessfulBuild/), which is not intuitive for an end-user.

The solution: create a website that serves up our nightly, beta, release candidate, and release builds for each device, similar to http://get.cm/.

This is NOT the primary "user-facing" downloads portal, but the loc

[2015-11-03 16:30] vidplace7 opened #42 "Stats Page - stats.galliumos.org"
Gather non-identifying statistics about each machine to give the development team a better idea of the amount of users, and the popularity of each piece of hardware.

Example: http://archive.is/8t2e

Proposed metrics to be gathered (to be discussed due to privacy concerns):
- Hashed WLAN MAC address - unique identifier, to prevent duplicate entries

[code]
- Hashed Serial Number of first HDD /dev/

[2015-11-03 16:57] hugegreenbug commented on #42
I think a few of us were leaning towards a generated UUID. It isn't as unique as a hashed MAC, but it is less intrusive and will still be useful.

I would say that memory size would be useful since different models have different memory configurations.

Also processor type and speed for the same reasons as memory.

[2015-11-03 17:03] vidplace7 commented on #42
It'll be very easy to implement this once I know for sure what commands to execute in order to get it.

Do we know how to get the codename of a device through the shell? Eg: "peppy"

[2015-11-03 17:23] vidplace7 commented on #42
@hugegreenbug What constant value would we base the generated UUID on? The WiFi MAC?

[2015-11-03 17:29] hugegreenbug commented on #42
Yes, that would be the problem. It wouldn't be persistent across installs. Then we should vote for either a hashed MAC or a generated UUID.

[2015-11-03 17:29] reynhout commented on #42
No constant value, just generate a UUID.

If we were to use the MAC instead, we'd need to properly salt and hash it, at which point (with a random salt) it would also be non-persistent across OS installs, which is the only advantage a MAC would confer. So UUID seems to be the right answer. See #28 for some more discussion.

Processor type and speed can be gathered with: `dmidecode -s processor-ver

[2015-11-03 17:46] reynhout commented on #42
system locale would also be useful for many things, i think. `echo $LANG` is probably the best component thereof.

[2015-11-03 19:21] vidplace7 commented on #42
I went on and made a quick script to show off the logic behind this. It'll need to be run as root (sudo is your friend).

https://gist.github.com/vidplace7/85baf18d545266adcd87

[2015-11-04 07:35] hugegreenbug commented on #37
Fixed this in galliumos-base/usr/bin/hdmi-change

[2015-11-04 07:35] #37 closed

[2015-11-04 17:08] artingei commented on #41
@vidplace7 will integrate the backend components into my front-end code when i am finished with it.

[2015-11-04 17:18] ColtonDRG commented on #37
Brilliant.

[2015-11-04 17:20] ColtonDRG commented on #41
To clarify, the domain for this is get.galliumos.org, and the frontend will be built by @artingei. The backend will be built by @vidplace7.

[2015-11-04 17:26] ColtonDRG commented on #26
What's the status of this working up to the beta release? We need something worked out before the RC.

[2015-11-04 19:20] hugegreenbug opened #43 "Add an application launcher"
ChromeOS has a nice application launcher and it would nice to offer something similar. The best one around seems to be: albert. We should include it and a custom theme in the near future.

[2015-11-04 19:28] hugegreenbug commented on #26
I'm fine with synaptic.

Hugh

On Wed, Nov 4, 2015 at 10:26 AM, Colton DRG <notifications@github.com>
wrote:

[2015-11-04 19:46] vidplace7 commented on #17
I personally would rather us track all of our issues publicly.

Additionally, I've used trac extensively at previous workplaces... It's absolute trash!
Redmine, similarly, is trash.

[2015-11-04 20:53] hugegreenbug opened #44 "HiDPI support"
Some chromebooks (pixel, pixel2) have high a number of ppi, making the desktop, icons, windows, etc... extremely small. XFCE doesn't support scaling the desktop yet and most Linux desktops don't. Gnome3 and Cinnamon seem to be the best at this right now.

Some applications, such as chromium and firefox, do support scaling.

The solution for us is to create different versions of the Arc theme, and

[2015-11-04 20:56] hugegreenbug opened #45 "Pixel build"
I'm borrowing a Chromebook Pixel 1 for about a month. I need to make the most of it and make a build for it.

[2015-11-04 20:57] vidplace7 commented on #45
Will you be building a standard ubuntu 15.04/14.04 release for it as well?

[2015-11-04 21:03] artingei commented on #44
did you check xsettings > xft > dpi? dell chromebook 13 and toshiba chromebook 2 also have high pixel densities.

[2015-11-04 21:08] vidplace7 commented on #39
In Ubuntu (main version with unity) you can hold the *Super* button to get a list of keyboard shortcuts, does xfce have any similar interface?

![](http://i.stack.imgur.com/sewJD.jpg)

[2015-11-04 21:17] hugegreenbug commented on #44
Ok, thanks for adding those two.

The setting you provided scales the fonts. XFCE makes this easy in the settings manager. That helps a lot; however, there are still a lot of issues. Some can be fixed with settings, the theme needs be changed, and some code needs to be changed.

[2015-11-04 21:22] artingei commented on #44
Alright. If I can help with the theme… you know where to find me.

[2015-11-04 21:37] vidplace7 commented on #39
Apparently this feature is on the roadmap for Xubuntu 16.04 LTS...
See: https://blueprints.launchpad.net/ubuntu/+spec/xubuntu-x-development

[2015-11-04 21:45] vidplace7 commented on #13
mplayer is a fantastic alternative to VLC, and holy hell is it small.
:+1: DeadBeef and mplayer

[2015-11-04 21:52] vidplace7 commented on #11
Reimplementing the settings application is out of the scope of this project, in my opinion.

If Xfce can't provide a simple interface for our users, perhaps we should switch to a DM that will?

[2015-11-04 21:53] hugegreenbug commented on #45
Do you mean Unity? No, I was just planning on a GalliumOS version with Xfce and fixes for it.

[2015-11-04 21:57] vidplace7 commented on #20
Isn't adding gestures handled by the DE? And thus outside the scope of our project?

We're gonna rewrite half of Xfce by the end of this project :stuck_out_tongue_winking_eye:

[2015-11-04 23:22] artingei commented on #20
+1

[2015-11-05 01:40] hugegreenbug commented on #20
Yes, gestures are handled by the DE. The DE will never support the ChromeOS mouse driver, so even if it did support gestures, it wouldn't recognize the touchpad's gestures.

[2015-11-05 02:13] vidplace7 commented on #20
Possible to wrap the gestures from the cmt driver to the DE's gestures?

[2015-11-05 02:37] hugegreenbug commented on #20
Yes, I think so.

Hugh

On Wed, Nov 4, 2015 at 7:13 PM, Austin <notifications@github.com> wrote:

[2015-11-05 03:37] hugegreenbug commented on #24
The only thing that didn't match was the minimum brightness and I just fixed that in the xfce4-power-manager.

[2015-11-05 03:37] #24 closed

[2015-11-05 08:02] hugegreenbug opened #46 "Testing on Acer C710"
We need the C710 to be tested with the latest builds. Does suspend work? Do the media key keybindings work? How is the performance?

[2015-11-05 08:07] coolstar commented on #20
@hugegreenbug one thing that could be considered (which is an easy solution) is to use keybindings.

The way my current crostrackpad driver for Windows and the Synaptics Windows drivers handle gestures is by injecting keystrokes.

E.g. for Desktop switching: Win+tab, Ctrl+Win+Left/Right
For Pinch to zoom: Ctrl + Scroll Wheel

[2015-11-05 14:51] artingei commented on #41
@vidplace7 Please check if everything is ready for your implementations. If it's the case I would like to hand it over. You can finde the files you need in the `dist` folder.

[2015-11-05 16:57] #3 closed

[2015-11-05 16:58] hugegreenbug commented on #11
I don't have a problem with the XFCE settings. @ColtonDRG Do you have any specific examples on how they can be improved?

@vidplace7 No desktop is perfect.

[2015-11-05 17:01] hugegreenbug commented on #29
I added to this just now.

[2015-11-05 22:22] hugegreenbug opened #47 "Add opt-in/opt-out support to ubquity for stats"
Ubiquity needs to have an opt-in/opt-out dialog for @vidplace7's stats script

[2015-11-05 22:43] artingei commented on #44
I can test on the Dell Chromebook 13 in one week if we need to.

[2015-11-05 22:51] hugegreenbug commented on #44
That would be great!

[2015-11-05 22:53] artingei commented on #11
I was really surprised how good XFCE actually felt when I tested it. We need to pimp it up as good as possible. I don't really see any better, lightweight option unfortunately. Maybe Gallium OS will be the solution for a lightweight, neat and user friendly distro in the future. :100:

[2015-11-06 04:24] hugegreenbug opened #48 "Ubuntu icon in ubiquity"
There is an Ubuntu icon lurking in ubiquity.

[2015-11-06 04:25] hugegreenbug opened #49 "Ubiquity slideshow"
I'm currently using the Xubuntu slideshow for ubiquity. We should change the slideshow.

[2015-11-06 07:54] hugegreenbug opened #50 "Use crouton's media key mapping instead"
@coolstar pointed me to crouton's media key mapping script with a patch for running outside of crouton: http://pastebin.com/PrPYW6SA . I will package up the changes that this script makes and use this instead of the xbindkeys solution.

[2015-11-06 12:00] ColtonDRG commented on #32
Many users in IRC are still reporting this bug.

[2015-11-06 12:07] artingei opened #51 "Project Identity"
As I mentioned in IRC I tried to work out the visual identity of Gallium OS.

The things which were done by @elioqoshi were definitely good but some kind of unfinished. I would like to stay with blue colors but in a stronger tonality so it doesn't seem to copy the colors of Chromium anymore and has an own identity regarding the colors. The logo was fine but not specified enough. One version was wi

[2015-11-06 12:10] ColtonDRG commented on #51
I like a lot of your changes, but I think we should have a quad color version of the main logo. Those look good too, but I would like to try a quad color logo. We also need to remove the space between Gallium and OS. :P

(Copied from ColtonDRG's comment on the old issue https://github.com/GalliumOS/galliumos.org/issues/1)

[2015-11-06 12:14] artingei commented on #51
![galliumos_logo_02](https://cloud.githubusercontent.com/assets/5765780/10996765/4bc797ac-8488-11e5-8c10-f4fb9adcbe18.png)

[2015-11-06 12:15] ColtonDRG commented on #46
On it. I will wipe my Chromebook (so I'm not tempted to boot to Arch) and install GalliumOS immediately.

[2015-11-06 12:18] ColtonDRG commented on #51
Yes... That looks very nice, though, just as a quick experiment, try swapping the colors on the top and bottom sections of the logo (leave the left and right as they are).

[2015-11-06 12:19] artingei commented on #51
![g4563](https://cloud.githubusercontent.com/assets/5765780/10996881/fe26dae8-8488-11e5-9c98-9141c0fdcb15.png)

[2015-11-06 12:23] ColtonDRG commented on #51
Awesome! What does everyone else think?

[2015-11-06 13:12] artingei commented on #51
Fixed colors
![galliumos_logo_03](https://cloud.githubusercontent.com/assets/5765780/10997796/63decd80-8490-11e5-9110-6f253c9ccb49.png)

[2015-11-06 13:14] ColtonDRG commented on #51
Cool! Do you have the original svg files for the graphics? We need the full logo with text, the square logo without the text, the text only, and a link to the font files. Obviously they should all have transparent backgrounds as well.

[2015-11-06 13:27] artingei commented on #51
yap, coming. :)
website looks great now, working on it.

[2015-11-06 13:33] ColtonDRG commented on #46
Unfortunately, I lost my AC adapter. I will do everything in my power to get it back ASAP.

[2015-11-06 14:49] artingei commented on #51
@ColtonDRG You can find the files [here](https://github.com/GalliumOS/galliumos-distro/tree/master/design/share).

[2015-11-06 15:35] reynhout commented on #17
Yep, definitely public. The issue is that GitHub Issues is not awesome, but it is the de facto highest-visibility tracker (unless we turn it off and direct people elsewhere, which is not the most user-friendly approach). Regardless, if we have greater needs we need to meet them. I think we should stick here for now, even though honestly it's already feeling a little cumbersome.

As to trash.. all

[2015-11-06 16:04] reynhout commented on #31
Just updating: debs, cores, and ISOs are all building happily.

I need to make one more pass comparing the current imager ISOs against the new ones, and resolve any discrepancies. Everything looks good in my testing, but some variances could be subtle yet important.

If anyone wants to test the "new-process" ISOs, I'll be pushing them to https://ci.galliumos.org/builds/alt/ for now.

[2015-11-06 18:03] hugegreenbug commented on #32
In working on it

[2015-11-06 18:46] hugegreenbug commented on #51
I like the new look. It definitely gives us more of a unique identity

[2015-11-06 23:38] hugegreenbug commented on #32
Should be fixed again.

[2015-11-06 23:38] #32 closed

[2015-11-06 23:40] hugegreenbug commented on #50
This is a much better solution than xbindkeys and it is what crouton uses. Also, I shouldn't have to worry about different chromebook models with this.

I added a modified xkeyboard-config package and updated galliumos-laptop to use the new layout.

[2015-11-06 23:40] #50 closed

[2015-11-06 23:41] hugegreenbug commented on #19
We are no longer using xbindkeys for the media keys so this is no longer relevant. To configure the keyboard one can choose the keyboard layout in the keyboard settings.

[2015-11-06 23:41] #19 closed

[2015-11-07 11:31] simonschnake opened #52 "kswapd0 going crazy"
Currently I haven't the pleasure to test GalliumOS,
but this was allways a Problem with the earlier Ubuntu Versions from HugeGreenBug.
When the RAM is full, the kernel process kswapd0 starts using one kernel up to 100%.
Maybe you had fixed this problem or it's a special one for my Toshiba Leon Chromebook,
but if not it would be great if you look into that.
Sincerely,
Sim

[2015-11-07 12:18] ColtonDRG commented on #52
Please confirm that the issue still exists in GalliumOS when you get the chance and I'll reopen it.

[2015-11-07 12:21] ColtonDRG commented on #51
Great! This looks awesome!

[2015-11-07 12:23] #39 closed

[2015-11-07 12:24] ColtonDRG commented on #39
Closing for now. For now we will have a wiki page. We will look into adding some sort of builtin system for it in the future.

[2015-11-07 16:13] ColtonDRG commented on #46
Adapter is on the way. Should have it by Monday or Tuesday. I will report back when I have it and have tested it out for a day or two.

[2015-11-07 16:14] ColtonDRG commented on #5
Here's the open source version of the website. https://github.com/GalliumOS/galliumos.org/

Future discussion about the website should take place in the issues for that repo, here. https://github.com/GalliumOS/galliumos.org/issues/

[2015-11-07 16:14] #5 closed

[2015-11-07 16:17] ColtonDRG commented on #30
Future discussion about this should take place in the galliumos.org repo. https://github.com/GalliumOS/galliumos.org/issues/

[2015-11-07 16:17] #30 closed

[2015-11-07 16:18] ColtonDRG commented on #41
Okay, handing it over to @vidplace7.

[2015-11-07 16:18] hugegreenbug commented on #52
A lot of additional optimizations have gone into GalliumOS compared to the Ubuntu 15.04 based distro on distroshare. I have tested in 2GB and 4GB configurations and haven't noticed unusual kswapd behavior.

[2015-11-07 16:25] #15 closed

[2015-11-08 15:06] elioqoshi commented on #15
Don't close this yet, just postpone it :)

[2015-11-08 15:11] elioqoshi commented on #51
Hi there,

The blue color is way too strong and not good on the eye, there was a reason I used lighter blue tones.
Also as Colton said, we should have a full color version (with 4 colored sides) also.
I also don't get why you say the logo was "unfinished" as I don't see a concrete reason for that, apart personal tastes.

Further,I'm really upset that I'm not asked about these changes. How can you

[2015-11-08 15:39] artingei commented on #51
I dropped you a mail. :100:

[2015-11-08 16:08] vidplace7 commented on #51
I'm not a huge fan of the new logo color scheme either TBH. It's much harsher than the previous logo.

[2015-11-08 17:42] hugegreenbug commented on #51
@artingei Can we come to an agreement with @elioqoshi ?

[2015-11-08 17:45] elioqoshi commented on #51
After exchanging a few emails with @artingei and @hugegreenbug I think it would be best to return to the original logo and go from there if changes need to be done (for example we might want to add the 'OS'). I hope I don't sound rude or nitpicky, but a logo is a very individual and personal thing, which I commited my time to when discovering Gallium OS. As someone who was part of the creation pro

[2015-11-08 18:39] hugegreenbug commented on #51
@elioqoshi Makes sense. I apologize.

[2015-11-08 18:44] elioqoshi commented on #51
@hugegreenbug All good, let's move on further from here :)

[2015-11-08 18:46] artingei commented on #51
Yes, we can! @hugegreenbug :)
I don't see a big problem with @elioqoshi 's version of the logo. I only had problems with the color decisions which were made within the initial and only design I had access to: https://cloud.githubusercontent.com/assets/5436686/10419305/faa950cc-7073-11e5-8cc7-c126b894bc64.jpg

But if you're active here for the next weeks, @elioqoshi , I wouldn't be sad to concentra

[2015-11-08 19:37] hugegreenbug commented on #51
@artingei What was wrong with the website's colors? If you feel that the colors need to be changed, please talk it over with @elioqoshi .

[2015-11-08 21:55] hugegreenbug opened #53 "Tagline"
I guess we need a tag line. How's this?:

Peel off the chrome

[2015-11-08 21:59] elioqoshi commented on #53
Catalye your chrome ?

[2015-11-08 23:42] vidplace7 commented on #53
:+1: Peel off the Chrome
I like it!

[2015-11-08 23:44] artingei commented on #53
:+1:

[2015-11-09 03:09] hugegreenbug opened #54 "Consolidate the multiple isos to one iso"
This can be done by including an apt repo in the live cd and in the final installation. A startup script would install the correct packages based on the model returned by dmidecode.

[2015-11-09 12:12] artingei commented on #51
@elioqoshi Where can I find the vector files of the your final logo?

[2015-11-09 13:07] hugegreenbug commented on #51
@artingei https://dl.dropboxusercontent.com/u/62482708/Gallium%20OS.zip and https://dl.dropboxusercontent.com/u/62482708/Gallium.svg

[2015-11-09 15:16] elioqoshi commented on #51
I will also add the OS to it, will do today.

[2015-11-10 11:35] ColtonDRG commented on #11
@ColtonDRG is a liar.

I looked at Settings Editor, which has a lot of technical stuff that is not very user friendly. Settings Manager looks very nice on the other hand. Perhaps we should find a way to direct users attention to Settings Manager instead.

[2015-11-10 11:35] #11 closed

[2015-11-10 18:20] ColtonDRG commented on #34
It's not fixed.

[2015-11-10 18:24] ColtonDRG commented on #8
Closing for now. Will reopen should we decide to tackle this again in the future.

[2015-11-10 18:24] #8 closed

[2015-11-10 18:25] ColtonDRG commented on #46
Testing now. So far so good. After working out a few missing things from the kernel (trackpad and ethernet), everything is running great. Very happy with the state of the build.

[2015-11-10 18:25] #46 closed

[2015-11-10 18:29] ColtonDRG commented on #15
We can always reopen it at a later date. I don't like having stagnant issues on the opened page. It makes the already messy GitHub issues even messier.

[2015-11-10 18:39] ColtonDRG commented on #51
Just my two cents, I thought @artingei's colors were more vibrant and colorful, which I personally prefer. I like highly saturated vibrant colors, but maybe that's just me. Whatever everyone else agrees on is fine, I'll probably rip them all out and change them on my machine anyway. ;)

[2015-11-11 00:39] ehlingerjohn opened #55 "Windows are not "click and drag"able when system border isn't used"
I am using an Acer Chromebook 15 CB5-571 and I installed Gallium through chrx.org.

I can click and drag windows around the screen when they have a system border, such as the file explorer or chromium. However, programs such as Steam or chromium when I uncheck "use system border" can only be moved when I select Move from the alt+spacebar menu.

[2015-11-11 05:00] ColtonDRG commented on #55
Oops, you're right. I'll look into this.

[2015-11-11 05:02] ColtonDRG commented on #55
Alright. I'm still looking for a proper solution, but here's a dirty workaround: Hold Alt while dragging the windows.

[2015-11-11 05:15] ColtonDRG opened #56 "Scrolling with the mouse wheel of a USB mouse feels awkward"
It seems like the system is only actually scrolling on every other click of my mouse wheel. Very annoying. Doesn't happen for Qt apps.

[2015-11-11 06:08] ColtonDRG opened #57 "Open Whisker menu when I press the Super (Search) key"
I was able to achieve this by adding an Application Shortcut to Settings Manager > Keyboard that looks like this...

xfce4-popup-whiskermenu   |   Overlay1 Enable

Unfortunately it broke a few of the keybinds, boo. We should try to find some way around this. This functionality should be very useful.

[2015-11-11 06:10] ColtonDRG commented on #43
Albert is nice, but XFCE has this functionality built into the Whisker menu. We just need to add a shortcut to open it.

[2015-11-11 06:17] ColtonDRG commented on #14
HexChat is not included in the latest nightly. Can we get this added?

[2015-11-11 08:07] ColtonDRG commented on #28
Mergint this into https://github.com/GalliumOS/galliumos-distro/issues/42

[2015-11-11 08:07] #28 closed

[2015-11-11 09:03] elioqoshi commented on #51
Do you think it should be GalliumOS or Gallium OS? Mozilla has Firefox OS for example and Google also Chrome OS (both without a space) Which path should we take @hugegreenbug and others?

[2015-11-11 10:26] artingei commented on #14
No "normal" user knows:
a) what IRC is
b) how to use it

I don't think it's necessary. Save the space. Everyone willing to use IRC knows how to install his favourite client.

[2015-11-11 10:31] elioqoshi commented on #14
Agree with @artingei here.

[2015-11-11 10:46] ColtonDRG commented on #14
Yes, I considered this, but the #galliumos IRC channel will be the best place for users to go to if they're looking for support or having some problem. That's why I think we should include it. Another acceptable alternative could be to drop a link on the default search page to a Kiwi client hosted on our own servers.

[2015-11-11 10:49] ColtonDRG commented on #51
So far we've written it like GalliumOS (without a space) in all of our configuration and branding, so I think we should keep it this way.

[2015-11-11 10:52] elioqoshi commented on #51
I don't think that it's a valid argument that "we used to do it this way", hence I asked about your opinion compared to other brands which use it separated. Let's use some constructive arguments here without attaching ourselves to the past too much (afterall we do not have a big legacy we could compromise with changes like this).

Without a space looks also a bit geeky to me (you know, you should

[2015-11-11 10:53] elioqoshi commented on #14
If you think we could include an IRC client which by default would open the #galliumos IRC channel without any further configuration, that could be good, yes.

[2015-11-11 10:55] artingei commented on #14
@ColtonDRG Just link this page with an neat icon on the desktop: http://webchat.freenode.net/?randomnick=1&channels=%23galliumos&uio=MTE9MjM20f

[2015-11-11 10:56] elioqoshi commented on #14
Then again, that's also an elegant solution @artingei proposes.

[2015-11-11 10:59] ColtonDRG commented on #14
Freenode's webchat is hideous. Kiwi is functional and looks nice. It's not too hard on the servers either. I do agree that a desktop file in the menus saying something like "Live Community Chat" or something like that would be preferable to a link on the default search page, and a webchat would be more straightforward than actually installing an IRC client. I suppose that'll be our solution. I'm n

[2015-11-11 11:02] artingei commented on #14
@ColtonDRG Nice!

[2015-11-11 11:23] ColtonDRG opened #58 "Chromium desktop file remains in the menus after Chromium is removed from the system"
Yes, yes, I know, there's a reason. I don't care. We need to fix this.

[2015-11-11 11:26] ColtonDRG opened #59 "Touchscreen is buggy with multiple monitors"
Touchscreen will act on your primary desktop even if displays aren't mirrored, and sometimes switching between resolutions and extended/mirrored desktops breaks touchscreen a little in that it stops touchscreening.

[2015-11-11 11:27] ColtonDRG opened #60 "Show some feedback for holding on the touchscreen for right clicking."
I hope they add a indicator that you're holding down on the touchscreen to right click? Like in chrome os, a little animation plays, and when it completes and you lift finger, right click happens.

[2015-11-11 11:38] ColtonDRG commented on #58
Duplicate of #34

[2015-11-11 11:38] #58 closed

[2015-11-11 11:54] ColtonDRG commented on #51
Okay, allow me to clarify... In all of our packages, configurations, and various other stuff, we have it written without a space. It will be a lot of unnessesary effort to change everything, and we will probably miss something in the process. You shouldn't use capital letters in filenames, but that didn't stop us. I don't think it seems geeky...

Also... This.
https://www.google.com/search?q=galli

[2015-11-11 11:57] elioqoshi commented on #51
Right, I'm convinced, thanks for the clarifications!

[2015-11-11 12:02] ColtonDRG commented on #31
What's the current status of this? I hate stagnant issues.

[2015-11-11 12:04] ColtonDRG commented on #26
Synaptic is not user friendly. We need something that the average user will be able to understand. Using Synaptic is like telling our users "all you need to do is run sudo apt-get update && sudo apt-get dist-upgrade", yes, that works, no, it's not an acceptable solution for a distro that aims to be user friendly.

[2015-11-11 12:06] #23 closed

[2015-11-11 12:06] ColtonDRG commented on #23
Closing for now. Our boot time is very good. We can always reopen should we decide it needs to be tuned again.

[2015-11-11 12:06] artingei commented on #26
Could we possibly put this command behind a simple GUI?

[2015-11-11 12:08] ColtonDRG commented on #29
Beta is out. Closing.

[2015-11-11 12:12] ColtonDRG commented on #26
Yes. We need to keep it lightweight, and even though it would create an additional unnessesary daemon, we really should have it remind users to update regularly. For most users, if we don't tell them to update, they won't do it. Even I let my system get way out of date sometimes because I get busy and forget to do it.

[2015-11-11 14:05] artingei commented on #57
+1 please implement this or albert

[2015-11-11 14:42] ColtonDRG commented on #43
Anyone else's thoughts?

[2015-11-11 14:45] ColtonDRG commented on #47
We need it in the settings somewhere too.

[2015-11-11 14:48] artingei commented on #43
Albert isn't big and doesn't need much RAM (10MB for me). It can calculate, search web and we could write own plugins for it. Would like to discuss this and hear pros/cons. What do you think?

[2015-11-11 15:08] reynhout commented on #31
Feature complete and ready for testing. Waiting for the first beta release and associated backlog to clear.

Builds are at link posted above for anyone to review, but are presently generated manually (no Jenkins task) until artifacts are validated.

[2015-11-11 15:10] reynhout commented on #29
This is for focus of testing efforts IN the beta. That was the theory anyway. Reopening because we need *a* place to itemize the areas of special testing interest.

[2015-11-11 15:14] reynhout commented on #47
Current plan is that the info collection only happens at install time, not recurrently. Active users can be discerned from apt repo activity -- esp if we end up including an "updates available?" daemon.

[2015-11-11 17:03] ColtonDRG opened #61 "There should be a GUI to configure the SLiM login manager"
Some people want this. (I can't imagine why)

[2015-11-11 17:33] ColtonDRG commented on #47
Ah, okay.

[2015-11-11 17:34] ColtonDRG commented on #29
Oh, okay. I thought this was the things we need to test before beta. Sorry for the confusion

[2015-11-11 17:35] ColtonDRG commented on #31
Okay. Does that mean this is safe to close, or should wait until Jenkins tasks are setup?

[2015-11-11 17:39] ColtonDRG opened #62 "GalliumOS Blog - A single official source for news and updates from the GalliumOS team."
We need a single official source where we can post release announcements, general news, and important updates about our progress and various other things. I think a weblog would be the best way to handle this. WordPress is the obvious answer, but does anyone else have any other suggestions?

Before someone says Ghost, it's written in Node, and it's resource usage is insane. I would really rather n

[2015-11-11 17:42] reynhout commented on #31
I'd say we should wait til testing is complete. Adding the Jenkins config will be quick after that. And I do still want to clean up some code.

 In a real issue tracker, I'd mark this item "Ready for QA". But this is not a real issue tracker. :)

[2015-11-11 17:43] artingei commented on #62
isn't nearly every open source linux project on google+? should be enough for news and updates. if you would like to write and produce 'real' content something like wp would be fine.

[2015-11-11 17:51] ColtonDRG commented on #62
I used Google+ very heavily for a long time when I was working on the 2013 Kindle Fire HD development community. Honestly, it's not that good, and the interface is certainly cluttered. If everyone else would rather use Google+, we can, but I honestly don't like it.

[2015-11-11 18:21] ColtonDRG opened #63 "SLiM doesn't tell you if you enter a wrong password, it just dumps you back at the username prompt"

[2015-11-11 18:24] ColtonDRG opened #64 "Fullscreen and Tabs media key don't do what they should"
That's great, but users expect it to fullscreen their applications, not open display settings.

EDIT: Some users are reporting that the tabs key opens display settings. We should have fullscreen toggle the window manager's fullscreen mode (I guess maximize if we can't make it actually fullscreen), and the tabs key should do something similar to Alt-Tab

[2015-11-11 18:41] ColtonDRG commented on #61
Workaround time!

Yes. Edit /etc/slim.conf. There are two lines to change: default_user and auto_login.

Solution from @hugegreenbug on reddit.

Let's put this into the GUI.

[2015-11-11 20:46] meeotch opened #65 "Audio static at boot time (ASUS Chromebox)"
Running the haswell chromebox version on my Asus Chromebox-M004U, I get a loud buzzing (not exactly static) that lasts all the way through the boot, past GRUB, until about halfway through the OS splash screen.  This is from the headphones jack - I haven't tested with audio through HDMI yet, since I don't use it.

It's weird that I'm getting this even during the white developer screen - so maybe so

[2015-11-11 21:10] ColtonDRG commented on #65
Alright, I'll look into it. Unfortunately I'm not sure what we can do about this. If you're hearing it at the GRUB menu, there's a good chance that it's not a problem with GalliumOS, but something bigger. Have you ever run any other distros on your Chromebox? Do they have the same problem?

[2015-11-11 21:22] reynhout commented on #65
Sounds like he's used several others, and this is a first...

Obviously there's no "make noise" flag in the firmware, which is the only thing running at the point of the white "OS verification is OFF" screen that GalliumOS would be setting when the OS is run.

But that does raise the question: what firmware are  you running? Stock, John Lewis, or ...?

[2015-11-11 21:32] ColtonDRG commented on #65
Okay, please clarify, when you say "all the way through the boot, past GRUB, until about halfway through the OS splash screen", do you mean it starts before GRUB, then goes through GRUB, or that it starts after GRUB? The thing I don't understand is there really is no way for GalliumOS to be involved with any issues occuring before it's kernel gets loaded. If the problem starts just after GRUB, the

[2015-11-11 21:53] meeotch commented on #65
Here's the sequence I get at boot:

white dev screen:
gbb.flags is nonzero:  0x00000489
read only firmware Google panther 4920.24.25
active firmware Google panther 4920.24.26

bios screen:
SeaBIOS version rel-1.7.5-161-g6f75635-20150129-MattDevo

The bios (I believe, it was quite a while ago) came from the Kodi EZ Setup script:  http://forum.kodi.tv/showthread.php?tid=194362

And yes, the buzzing

[2015-11-11 22:00] ColtonDRG commented on #65
I'll look into that tty error, though it's probably something benign.

I unfortunately am not really sure what to tell you. At this point it seems like it could be a problem with the SeaBIOS or possibly even Google's firmware. Could you try running John Lewis' script to overwrite your RW_LEGACY slot? This will replace your SeaBIOS with the John Lewis version. If that doesn't work and you're comfor

[2015-11-11 22:00] reynhout commented on #65
Hm. It changes tone at different stages? I wonder if that's a debug feature for the firmware developer.

I can't thin of any reason why it would happen under GalliumOS but not other OSes, however.

[2015-11-11 22:13] meeotch commented on #65
I imagine the tone change is just a function of what's being displayed on the screen.  It sounds very much like that sort of "things-aren't-initialized-yet" or "something's-not-grounded" crosstalk/interference sound you sometimes get with computer audio.  It's just the fact that it lasts for so long (and gets fairly loud, at the GRUB screen) that made it an issue for me.

I've gotta say, I'm not d

[2015-11-11 22:45] reynhout commented on #65
OK. I was imagining that it was a distinct tone. Any time the audio chip isn't being actively/properly controlled, it can conceivably pick up and amplify internal noise, or just put out whatever is sitting on the DAC.

It's very much the firmware's job to init that chip to a quiet state though. I can't think of a way for an OS to tell the firmware not to bother with that job, but it's entirely pos

[2015-11-12 01:36] reynhout opened #66 "No sound on Bay Trail (SWANKY, GNAWTY)"
Reported by Bergauk via IRC.

Initial report on Toshiba CB35 Chromebook 2

Toshiba CB2 CB35-B3340
John Lewis ROM

Otherwise, install went well and initial testing is positive.

[2015-11-12 02:40] reynhout commented on #66
screenshot of `dmesg | grep -i audio`:

http://quesera.com/reynhout/ss66.jpg

[2015-11-12 03:46] reynhout opened #67 "Media key does not toggle keyboard backlight on Toshiba Chromebook 2 (GANDOF, Broadwell)"
Reported by Chimps via IRC.

Celeron 3215U

[2015-11-12 05:17] hugegreenbug commented on #62
We do have a G+ account: https://plus.google.com/b/101305546261316804435/101305546261316804435/posts . I'm not opposed to a blog.

[2015-11-12 05:19] hugegreenbug commented on #61
It isn't quite a workaround. SLiM supports this, it just isn't user friendly.

[2015-11-12 05:23] hugegreenbug commented on #61
The issue should really be: there should be a GUI to configure the display manager.

[2015-11-12 05:40] hugegreenbug commented on #57
Which keybindings broke after you added this shortcut?

[2015-11-12 05:44] hugegreenbug commented on #56
Could you try something for me? First type: xinput on the terminal to get the id of your mouse. Then try:

xinput --set-int-prop mouse_id "Fling To Scroll Enabled" 8 0

and see if that helps. Thanks.

[2015-11-12 05:46] hugegreenbug commented on #59
There are many issues with the touchscreen I'm sure. Touchscreen support in standard Linux desktops is pretty bad. This is one area that I think we can really improve on.

[2015-11-12 05:48] hugegreenbug commented on #63
Also, slimlock tells you that you entered the password wrong, but the message never disappears.

[2015-11-12 05:55] hugegreenbug commented on #65
@meeotch I agree with what everyone else has said. It couldn't be the OS if you are experiencing it at the white boot screen. I didn't realize that when I suggested to move the /etc/modprobe.d/snd-hda-intel.conf out of the way.

John Lewis' bios would be a good one to test. You could also try Matt Devillier's EZsetup script again. He updates the firmware all the time.

[2015-11-12 06:08] hugegreenbug commented on #64
I am seeing the same behavior. The tabs key is F4 and Super + F4 opens the display settings. Here is the chromebook page on media keys: https://support.google.com/chromebook/answer/1047364?hl=en  for more info.

This happens because Super + F4 is bound to XF86Display with the crouton keyboard mapping: http://pastebin.com/PrPYW6SA.

The window manager settings does have support for a keyboard short

[2015-11-12 06:15] hugegreenbug commented on #66
This is the solution according to John Leiws: https://johnlewis.ie/procedure-to-get-sound-working-in-fedora-22-on-asus-c300-chromebook/ . We are using a new enough kernel for this to work.

If someone could follow the instructions in the link above, save the state with: sudo alsactl store, then send us /var/lib/alsa/sound.state, we could include it.

[2015-11-12 06:33] hugegreenbug commented on #67
We need to know what key this shows up as. If Chimps could run: xev , press the key, and send us the output, we could map the key appropriately.

[2015-11-12 06:48] hugegreenbug commented on #66
This is a better fix: https://plus.google.com/+JamesFuBEEFCAKE/posts/Tf4Pc5Z8reH . It includes the alsa state file from ChromeOS and a fix to mute the speakers when the headphones are plugged in.

[2015-11-12 07:01] ColtonDRG commented on #57
I think all of them except Fullscreen, which for me opens the display settings.

[2015-11-12 07:07] ColtonDRG commented on #56
Okay, so in xinput I had 2 devices listed as "Logitech USB Receiver". I tried running that command for both of them and the mouse still feels wrong.

[2015-11-12 07:07] hugegreenbug commented on #57
I guess that makes sense since the media keys are bound to Search + F key.

[2015-11-12 07:09] hugegreenbug commented on #56
Ok. I just wanted to make sure it wasn't my filter, which is the first thing I would question :).

[2015-11-12 07:13] ColtonDRG commented on #59
Okay, in that case I will make a touchscreen label where we will file all our touchscreen related issues.

[2015-11-12 07:18] ColtonDRG opened #68 "Keyboard backlight control"
The [Dell 13] has a backlit keyboard with the backlight on/off and brigthness controlled by the CTL+screen brightness function keys. How can I control in GalliumOS?

From reddit user /u/dzeek

[2015-11-12 07:58] ColtonDRG commented on #67
Merge into #68

[2015-11-12 07:58] #67 closed

[2015-11-12 08:01] ColtonDRG commented on #65
So, the general consensus seems to be to try a new BIOS or possibly even firmware.

[2015-11-12 10:21] elioqoshi commented on #62
Never understood why open source projects use Google+ so much. We certainly don't at Mozilla though. I think our own blog would be perfect for us

[2015-11-12 11:10] ColtonDRG commented on #62
Okay, so any software recommendations besides the obvious WordPress and Ghost?

[2015-11-12 11:20] elioqoshi commented on #51
Hey guys, here are the final logos with the OS added.
https://dl.dropboxusercontent.com/u/62482708/Gallium%20OS%20Logos.zip

@hugegreenbug can we update the website? The logo is slightly cut at the right.

![logo-01](https://cloud.githubusercontent.com/assets/5436686/11117165/c56434f4-8937-11e5-9d52-325b3f50606b.png)

![logo-02](https://cloud.githubusercontent.com/assets/5436686/11117166/c5657120-

[2015-11-12 11:24] elioqoshi commented on #5
Can we please make "A fast and lightweight Linux distro for ChromeOS devices." slightly bigger and in Roboto Light (not Roboto Regular)?

And also, can we replace the icon for "Bug Fixes" with this one?
http://fortawesome.github.io/Font-Awesome/icon/bug/

[2015-11-12 14:34] ColtonDRG commented on #51
@elioqoshi The websites files are in the GalliumOS/galliumos.org repository. Just replace the files there and commit, and the website will automatically update. Also please commit these final arts to this repo (don't bother zipping them) so we'll have them handy.

[2015-11-12 14:36] ColtonDRG commented on #5
@elioqoshi The website is controlled by GalliumOS/galliumos.org. Just push any changes you want to make to that repo and it will automatically be sent out to the servers.

[2015-11-12 14:59] ColtonDRG opened #69 "Add GUI settings for allowing right click with the right edge of trackpad"

[2015-11-12 15:49] reynhout opened #70 "No video in Twitch streams"
https://www.reddit.com/r/chromeos/comments/3se79s/galliumos_for_chromeos_devices_has_released_its/cwxjsxt

[2015-11-12 15:51] reynhout opened #71 "Errors installing Chrome"
(to use Chrome Remote Desktop)

https://www.reddit.com/r/chromeos/comments/3se79s/galliumos_for_chromeos_devices_has_released_its/cwxjsxt

    Running the debian installer gives a dependency problem on libappindicator1, but trying a

    sudo apt-get install libappindicator1

    gives an error (Depends: libindicator7 (>= 0.490) but it is not going to be installed).

[2015-11-12 16:01] ColtonDRG commented on #70
This is because Flash is not included. Installing Firefox and Flash Plugin or installing Chrome or installing PepperFlash will fix it.

[2015-11-12 16:01] #70 closed

[2015-11-12 16:04] ColtonDRG commented on #71
Ooh, that's a big one. I'll look into it.

[2015-11-12 16:05] ColtonDRG opened #72 "Transmission BitTorrent Client?"
Why is this included? Are we really expecting our users to use this? If they want it they'll know how to get it I think.

[2015-11-12 16:10] reynhout opened #73 "/home/hugh is back"
https://www.reddit.com/r/GalliumOS/comments/3sjexc/user_named_hugh/

[2015-11-12 16:24] ColtonDRG commented on #71
Debian's way of handling dependencies is just stupid. Run "sudo apt-get -f install" after running the install command for Chrome and it will resolve itself. In the future, we should include gdebi or something similar so we don't have to worry about this.

[2015-11-12 16:24] #71 closed

[2015-11-12 16:26] ColtonDRG opened #74 "Please include gdebi or some other similar graphical Debian package installer tool"
Right now, .deb files open with an Archive Manager. Skilled users will know to use dpkg to install them, but can still lead to confusion causing invalid issues like #71.

[2015-11-12 16:28] hugegreenbug commented on #74
Synaptic is installed, it just isn't the default to open .deb files

[2015-11-12 16:31] ColtonDRG commented on #74
Synaptic is for managing packages in the repos, not installing packages from the disk. I don't know if it has that functionality, but I couldn't find it in the menus and it definitely wasn't made for doing that. We should avoid the user having to see Synaptic at all if possible. This means we should also look at including a software center style browser. I hear Lubuntu Software Center is very nice

[2015-11-12 16:31] hugegreenbug commented on #65
The no such device error is from: /etc/initramfs-tools/scripts/init-top/unbind_ehci . That is needed for suspend on haswell chromebooks. I need to send the error message to /dev/null. It won't affect anything.

[2015-11-12 16:36] hugegreenbug commented on #72
This comes with Xubuntu and I never removed it. Sure we can remove it.

[2015-11-12 16:37] ColtonDRG commented on #72
Alright. Close the issue whenever you've removed it from the build process.

[2015-11-12 16:53] ColtonDRG commented on #68
It's controlled by Alt, not Ctrl.

[2015-11-12 17:45] vidplace7 commented on #73
What are hugh doing!

[2015-11-12 19:27] Ravoz commented on #66
I switched out the alsa state file, however, sound playback was still not working on my swanky. I then also installed an intel firmware that worked for me in 14.04.3 Trusty, but again sound did not work.

[2015-11-12 19:39] vidplace7 commented on #54
I've completed the script that will install the proper packages based on the device that the installer is being run on.

I haven't really figured out exactly what should happen for devices we don't have on the list.

If a dmidecode isn't on our list, right now it wouldn't install anything at all...

[2015-11-12 19:40] vidplace7 commented on #54
We just need to handle the creation of an apt-repo on the cd, and configure the system to automatically run my script on first boot (or at the start of the install?)

[2015-11-12 19:42] reynhout commented on #54
Should be safe to install the base pkgs, but not the hwspecific ones, for unknown HWIDs.

I've also updated the HWID list a bit, will reformat for easier inclusion. I need to roll back into chrx too.

[2015-11-12 19:46] vidplace7 commented on #54
Base packages are installed by default. The only packages I'm concerned with are the following

* galliumos-laptop
* galliumos-broadwell
* galliumos-haswell
* galliumos-device-c710

So... if a device isn't in my device map, I won't install any chipset-specific packages, and I won't assume it needs galliumos-laptop. Is that fair to assume?

[2015-11-12 19:47] reynhout commented on #54
Yep, that sounds right to me. It would be nice to have a generic image right now today, for Bay Trail. So I think generic is the right way to go unless we can determine a better answer.

[2015-11-12 20:14] hugegreenbug commented on #5
@elioqoshi I'll make those changes this evening

[2015-11-12 20:27] artingei opened #75 "MicroSD card slot on LULU (Dell 13) not working"
If you need me to do research just drop me the commands here. :+1:

[2015-11-12 20:31] ColtonDRG commented on #66
I suppose now we should start looking for potential missing kernel modules....

[2015-11-12 20:42] artingei commented on #75
00:00.0 Host bridge: Intel Corporation Broadwell-U Host Bridge -OPI (rev 09)
00:02.0 VGA compatible controller: Intel Corporation Broadwell-U Integrated Graphics (rev 09)
00:03.0 Audio device: Intel Corporation Broadwell-U Audio Controller (rev 09)
00:14.0 USB controller: Intel Corporation Wildcat Point-LP USB xHCI Controller (rev 03)
00:1b.0 Audio device: Intel Corporation Wildcat Point-LP High D

[2015-11-12 20:52] artingei commented on #75
[code]

[2015-11-12 21:07] artingei commented on #75
@hugegreenbug could you please check if you have removed the kernel lines for the micro sd card reader:
[code]

[2015-11-12 22:01] elioqoshi commented on #51
I suck at git but I will try it @ColtonDRG

[2015-11-12 22:37] artingei commented on #75
Works now. Maybe reboot or [this](https://wiki.debian.org/InstallingDebianOn/Asus/X205TA#microSD_Card_Reader) helped.

[2015-11-12 22:42] vidplace7 commented on #75
Let's not close this until the fix is integrated into the OS, aye?

[2015-11-12 23:37] artingei commented on #75
aye

[2015-11-13 04:51] hugegreenbug commented on #5
@elioqoshi Are there icons from here that might work: http://getbootstrap.com/components/ ? Otherwise, I would have to include font-awesome for one icon since the others came from that link.

[2015-11-13 09:07] elioqoshi commented on #5
Hey @hugegreenbug probably "glyphicon-wrench" would be good for the Bug Fixes icon.
Also, could you make the "A fast and lightweight Linux distro for ChromeOS devices." around 50% bigger? It should have more space to breathe :)

[2015-11-13 09:34] artingei commented on #68
Nope, nothing working here for me (Dell 13 a.k.a. Lulu).

[2015-11-13 13:44] reynhout commented on #66
Same problem reported on GNAWTY, so I'll update the title of the issue.

I think the GalliumOS kernel includes support for Bay Trail sound as a module: (`CONFIG_SND_SOC_INTEL_BAYTRAIL=m` and `CONFIG_SND_SOC_INTEL_BYT_MAX98090_MACH=m`, so the problem might be at a higher layer).

[2015-11-13 15:09] hugegreenbug commented on #73
This is was due to gconv being compiled into libgestures. I fixed this in an update, but the beta will still show the directory.

[2015-11-13 15:10] ColtonDRG commented on #73
Is it fixed in the latest nightly? As soon as that happens we can close the issue.

[2015-11-13 15:24] simonschnake opened #76 "Xkeybinding doesn't work on my Toshiba Leon"
I don't know why, but the keybinding isn't working on my maschine.
I have a german keyboard, maybe that's the reason.
They worked perfect on HugeGreenBugs Xubuntu.

[2015-11-13 15:31] ColtonDRG commented on #76
I'm assuming you're talking about the top row of keys. Those are mapped to the F keys by default, and they will perform their ChromeOS function (i.e. volume adjustment, screen brightness, etc, etc) if you hold the Super (Search) key while pressing them. We are using a modded version of the crouton keybind system, not xkeybinds. If you're still having trouble, reopen.

[2015-11-13 15:31] #76 closed

[2015-11-13 15:32] simonschnake commented on #76
Ahh thanks, that's working :+1:

[2015-11-13 16:33] hugegreenbug commented on #68
@artingei Could you do me a favor and run: xev in a terminal. Then when the window shows up, press the media key that isn't working. Then post the output here and I'll see if I can modify the keyboard map.

[2015-11-13 16:36] hugegreenbug commented on #66
The alsa state file needs to be replaced, but it could be overwritten by the alsa-store service which runs before rebooting. @Ravoz can you verify that the alsa state file is the same as the downloaded one once you reboot?

I think you need to either the disable the alsa-store service and then re-enable it after you reboot with the new state file, or copy the state file and then run the alsa-resto

[2015-11-13 16:42] hugegreenbug commented on #73
It should be. I haven't tested it yet though.

Hugh

On Fri, Nov 13, 2015 at 8:10 AM, Colton DRG <notifications@github.com>
wrote:

[2015-11-13 16:45] ColtonDRG commented on #73
Okie dokie lokie! We can reopen it if it's not gone.

[2015-11-13 16:47] ColtonDRG commented on #75
@hugegreenbug Can we get this added to the galliumos-broadwell package?
https://wiki.debian.org/InstallingDebianOn/Asus/X205TA#microSD_Card_Reader

[2015-11-13 16:56] hugegreenbug commented on #75
Yes

[2015-11-13 17:16] hugegreenbug commented on #5
@elioqoshi Ok, I'll fix both of those things today.

[2015-11-13 18:09] isaactsg opened #77 "External mouse back buttons not working"
I'm on an Acer C720 with a Microsoft  wireless mouse 4000 plugged in. The pressing the back button is detected as scrolling the opposite direction that was last scrolled. For example, if I scroll up and the press the back button it will scroll down a little.

When I use xev in the terminal scroll up is button 4, scroll down is button 5, and the back button is whichever of those was not last used.

[2015-11-13 18:17] hugegreenbug commented on #77
Buttons 4 and 5 map to the scroll wheel, which is why the buttons are scrolling. You need to map the buttons to 6 and 7. See: https://help.ubuntu.com/community/ManyButtonsMouseHowto . I think you can do it with the xinput instructions in that page.

[2015-11-13 18:23] isaactsg opened #78 "Bluetooth on at startup"
Bluetooth on my C720 is on at boot by default, which isn't an issue, just that I couldn't find anywhere to change this in the settings. I was able to easily turn if off at startup by adding rfkill block bluetooth to /etc/rc.local , but I thought it would be good to add this in as an option somewhere.

[2015-11-13 18:29] ColtonDRG commented on #77
@hugegreenbug could be on to something, but from your description of the problem it sounds like mouse is behaving in a very odd and nonstandard way, and I'm not sure how to actually fix it. Either way, it's outside of the scope of this project. If this is a unique problem you have with GalliumOS, but not other Linux distros, please reopen and we'll investigate further.

[2015-11-13 18:31] ColtonDRG commented on #78
I remember having a conversation about this in IRC at some point. We'll see what we can do about it.

[2015-11-13 18:36] ColtonDRG commented on #65
So it seems like it's not a GalliumOS problem. Feel free to continue discussing it here, but I'm closing the issue.

[2015-11-13 18:36] #65 closed

[2015-11-13 18:51] hugegreenbug commented on #77
I think this might be a bug in the mouse driver. I can reproduce it on a different mouse. I'll have a fix soon.

[2015-11-13 20:09] ColtonDRG commented on #66
This works on Ubuntu 15.10.

[2015-11-13 21:34] reynhout opened #79 "Remove "Install RELEASE" app from whisker launcher"
https://www.reddit.com/r/GalliumOS/comments/3slb7d/f11_install_release/cwzb05w

Confirmed in coreimage made for chrx, and only in the apps launcher (not desktop).

Standard BETA ISO might not have the problem.

File is `/usr/share/applications/ubiquity.desktop`, comes from pkg `ubiquity-frontend-gtk`.

[2015-11-13 21:36] ColtonDRG commented on #79
It's not in the ISO confirmed.

[2015-11-13 21:48] hugegreenbug commented on #79
Since ubuquity isn't needed, we can remove all the packages that would normally be removed by ubiquity in the imager script.

Here is the list:
ubiquity ubiquity-frontend-gtk lupin-casper ubiquity-casper casper user-setup os-prober libdebian-installer4 apt-clone archdetect-deb dpkg-repack gir1.2-json-1.0 gir1.2-timezonemap-1.0 gir1.2-xkl-1.0 libparted-fs-resize0 libtimezonemap-data libtimezonemap1

[2015-11-14 04:05] Ravoz commented on #66
@hugegreenbug , I'm away on a business trip this weekend, but I'll see if I can take a look at it. But it may be Monday. @ColtonDRG , for me on Swanky, on 15.10, to get sound working still requires replacing the asound.state file for sound to work. 15.10 did fix automatic headphone muting though.

[2015-11-14 04:07] ColtonDRG commented on #66
Hm, well, other users claimed that it worked OOB on other Bay Trail models. Whatever happens, we'll get it fixed, hopefully before 1.0. Hopefully we'll get our hands on a Bay Trail model before then as well. :D

[2015-11-14 05:40] hugegreenbug commented on #66
@Ravoz Ok, whenever you have time. I also realized that I have a sound fix for the other models that is probably messing things up here. Could you also try to move /etc/modprobe.d/snd-hda-intel.conf out of the way and reboot? Thanks.

[2015-11-14 10:20] c0nsaw commented on #66
Hi folks, Toshiba CB2 user here also, I have successfully installed GalliumOS via usb. Everything looks pretty good, but no sound either, I have tried the various methods above also.

Willing to help out if I can.

Toshiba CB2 CB30-B-104
John Lewis ROM

[2015-11-14 13:23] hugegreenbug commented on #66
@c0nsaw Did you move the file: /etc/modprobe.d/snd-hda-intel.conf out of the way? Did you try asound.state file and if you did, did you verify that it was the same file you copied over after you rebooted?

[2015-11-14 13:54] ColtonDRG opened #80 "Super key registers as Overlay1 Enable"
Super keys don't register as Super keys. This is not a problem in and of itself, but it can cause problems with other softwares. We should see if we can't work it out.

[2015-11-14 14:04] Ravoz commented on #66
@hugegreenbug , I moved /ect/modprobe.dsnd-hda-intel.conf out of the way, however, after rebooting I get "failed login command"? I will have to wait until Monday to make a new live usb and try again. I'll also confirm that the asound.state isn't being overwritten.

[2015-11-14 14:28] ColtonDRG commented on #66
@Ravoz You can probably recover your existing install by using a vt to login and undo whatever you did to break it.

[2015-11-14 14:52] c0nsaw commented on #66
@hugegreenbug Hi, I renamed /etc/modprobe.d/snd-hda-intel.conf to snd-hda-intel.conf.old , but left in same location. Yes I did try the asound.state file, but no I did not verify the file was the same after reboot. I will do again, and report back to you. Thanks :)

[2015-11-14 20:23] hugegreenbug commented on #77
This should be fixed now with a xf86-input-cmt update: 2.0.6-10ubuntu1. You'll need to restart X11 or reboot. Please confirm that the buttons are working correctly after this update. Thanks.

[2015-11-14 20:50] hugegreenbug commented on #66
@c0nsaw Is there anything in dmesg related to the sound?

[2015-11-14 21:47] isaactsg commented on #77
I updated and then rebooted. It no longer seems to interpret it as a button, but motion. Here is the output from xinput test when I press the back button:

motion a[4]=-30 a[5]=10 a[6]=0 a[7]=0 a[8]=0 a[9]=1
motion a[10]=222 a[11]=0 a[12]=119 a[13]=119

In xinput list it now says that it's a 7 button mouse (it used to be 5).
Pressing the back button when using xev doesn't create any output.

[2015-11-15 07:39] hugegreenbug opened #81 "Muting audio stragness"
From reddit:

[2015-11-15 07:40] hugegreenbug opened #82 "Muting/unmuting audio issues"
From cugel-383 on reddit:

I was watching a twitch stream, hit super + mute to mute. Hit it again almost immediately afterward, no audio. Open a movie in vlc, no audio. pavucontrol claims that both streams are being pumped out through laptop speakers but they aren't. pavucontrol is set to use speakers by default. Muting and and unmuting the xfce volume control has no effect. The xfce volume contro

[2015-11-15 07:41] #81 closed

[2015-11-16 03:12] serianx commented on #57
please add this! bound to ctrl+space for now but it feels weird

[2015-11-16 03:14] serianx commented on #60
that would be awesome

[2015-11-16 03:22] ColtonDRG commented on #60
Yes, unfortunately, it's very tricky. Xfce was not made to do these sorts of things. We would have to rewrite a decent chunk of it to make it happen. If we ever do make it happen, we'll definitely at least try to send it upstream. ;)

[2015-11-16 16:00] WaffleBox commented on #82
This happened to me too. Every time I hit super-mute to mute the audio, hitting super-mute again does not turn the sound back on (though the visuals on the screen appear to show that sound should be playing).

In order to restore sound, I have to open Pulse Audio Volume Control, go to the Output Devices tab, and click the "Mute audio" button next to "Built-in Audio Analog Stereo."

[2015-11-17 22:53] ColtonDRG opened #83 "Disk usage panel indicator"
A redditor (/u/adrinux) pointed out that this would be useful, especially on Chromebooks with tiny SSDs.

[2015-11-18 01:24] ColtonDRG opened #84 "WiFi stops working after turning it off for an extended period of time"
I haven't tested this extensively. Acer C710. Possibly nothing can be done.

[2015-11-18 01:25] ColtonDRG opened #85 "Display goes black and doesn't come back occasionally after sleep."
Acer C710

[2015-11-18 03:29] ColtonDRG opened #86 "HP 14 is hot and battery drains quickly, even while sleeping"
Reported by Reddit user /u/3_Mighty_Ninja_Ducks. https://www.reddit.com/r/GalliumOS/comments/3t8f3b/on_hp_chromebook_14_my_computer_is_hot_even_after/

[2015-11-18 03:56] 3MightyNinjaDucks commented on #86
Hey guys, I was the one who reported this issue. Let me know if you have any further questions or potential solutions.

[2015-11-18 03:57] hugegreenbug commented on #86
The only thing I can think of would be to try upgrading the seabios or coreboot version. What coreboot or seabios are you using?

[2015-11-18 04:38] 3MightyNinjaDucks commented on #86
SeaBIOS (version -2013094_092828-build70-m2)

I'm not sure if that's exactly what you wanted, but that's what appears on the boot screen.

But I have an update on the situation. It only stays active when it's just asleep. I set it to suspend and the temp was normal after ~20 minutes.

[2015-11-18 07:15] hugegreenbug commented on #86
The first thing to try would be to flash a new seabios. You can flash either John Leiws': https://johnlewis.ie/custom-chromebook-firmware/rom-download/ or Matt Devillier's :https://github.com/MattDevo/scripts. You don't need to remove the write protect screw, since you won't be flashing the fullrom.

[2015-11-18 07:17] hugegreenbug commented on #85
Are you using John Lewis' full coreboot rom? How old is it?

[2015-11-18 13:00] hjam91 commented on #72
I dont see the need to remove it, since it comes with Xubuntu. ColtonDRG, if you dont need it then just uninstall it manually

[2015-11-18 13:01] elioqoshi commented on #72
I do think we need to keep it very lightweight. Same as with IRC, it's something optional.

[2015-11-18 15:23] ColtonDRG commented on #72
I personally do need it, but most users don't. People who need it will know how to get it. Our install footprint needs to be as small as possible.

[2015-11-18 15:26] ColtonDRG commented on #85
SeaBIOS (version 181214_15:29-johnlewis.ie)

I installed it in February or March of 2015 I think. Should I update it?

[2015-11-18 16:48] hugegreenbug commented on #85
It can't hurt to update it.

[2015-11-18 17:35] coolstar commented on #9
looks like we're adding touch screen issues so I reopened this.

[2015-11-18 20:45] KennethShen commented on #82
This fixed the mute/unmute for me. There's no need to open up PulseAudio Volume Control.

In the tray, right-click on the volume icon and then select Properties.

Set the sound card to Playback: Built-in Audio Analog Stereo (PulseAudio Mixer). Expand the window if you can't read the entire line.

Close the window and try playing around with audio.

[2015-11-18 23:18] VanillaXtract commented on #86
I have the same chromebook running Gallium. I am not seeing this issue. My seabios is MattDevo 20151015.

[2015-11-18 23:31] coolstar commented on #86
On the HP Chromebook 14 (falco), I also have firmware available for it.

HP Chromebook 14 [falco] Celeron 2955U (PCI ID 8086:0a06):
ROM Download: https://dl.dropboxusercontent.com/u/59964215/chromebook/ROM/coreboot-seabios-falco-20151019-coolstar-2955u.rom
SHA1 Checksum: 8f89b2dc725c17251555fdcec6d408911fa8cf50

[2015-11-18 23:32] coolstar commented on #86
I'm using the chromium version of SeaBIOS, so it should run better on the chromebook as it's known to be stable. (I've seen compatibility issues on the newer SeaBIOS's from John and Matt)

[2015-11-19 04:36] hugegreenbug commented on #75
This fix has been committed and the package has been updated in the development repo.

[2015-11-19 04:36] #75 closed

[2015-11-19 04:52] hugegreenbug commented on #72
I changed the build script so it is removed.

[2015-11-19 04:52] #72 closed

[2015-11-19 19:15] 3MightyNinjaDucks commented on #86
Seems to have just...gone away. Weirdest thing...

[2015-11-19 19:16] ColtonDRG commented on #86
Very strange... If that's the case, I'm closing this. We can reopen if more cases pop up.

[2015-11-19 19:16] #86 closed

[2015-11-19 20:33] adrinux commented on #57
My falco has an 'alt gr' marked right alt key, is that common to all Chromebooks?

Feel a bit like there needs to be a system setting for whether you want the media keys to work as media keys by default or function keys by default.

I think it wise that the keys should do something related to whats printed on them, function keys by default is great for the linux nerd but not so much the casual use

[2015-11-19 20:44] ColtonDRG opened #87 "Settings option to switch the default behaviour of the top row of keys"
By default it works as the function keys, and becomes the media keys when pressing the Super (Search) key. We should have an option in settings to use the media keys first, and the function keys when holding Super.

[2015-11-19 20:44] ColtonDRG commented on #57
Well, my parrot has it, so I'm assuming yes, though I'm not really sure how that's related.

Yes, that's been discussed. Not sure how that's related, either. That said, I think it does need it's own issue. Here: #87

[2015-11-19 20:46] adrinux commented on #53
"Set your Chromebook free".
"A Power up for your Chromebook".
Um. Yeah.

[2015-11-19 20:48] ColtonDRG commented on #57
Oops, didn't mean to close it.

[2015-11-19 21:44] serianx commented on #9
I have one c720p (peppy), I can test your patch or anything you need if you tell me how to do that :)

[2015-11-20 01:18] coolstar commented on #9
I have an Acer C720P here too

[2015-11-20 11:43] elioqoshi commented on #53
Revive your Chrome?

[2015-11-20 16:41] hugegreenbug commented on #87
We could make a new keyboard layout based on the current one for this.

[2015-11-20 16:51] hugegreenbug commented on #83
This is a good idea, but it isn't hard for users to add themselves. There is the xfce4-goodies package that includes the free space checker applet. There is also the disk performance monitor applet: xfce4-diskperf-plugin that seems to show the usage as well.

[2015-11-20 16:53] hugegreenbug commented on #80
We are using Crouton's keyboard model: https://github.com/dnschneid/crouton/wiki/Keyboard#chromebook-keyboard-model . With it, there is no way to use the super key by itself.

We can have multiple keyboard models to support different configurations.

[2015-11-22 02:09] ColtonDRG opened #88 "Ubiquity fails to install GRUB if connected to the internet during install."
This happens consistently.

(On Acer C710 - parrot)

[2015-11-22 02:15] ColtonDRG opened #89 "Ubiquity recognizes an already installed GalliumOS as Ubuntu 15.04"

[2015-11-22 12:46] adrinux commented on #83
Thanks, I'll experiment with those applets. I think Ubuntu already has a low disk space warning though, so this issue might be moot. It's parameters (remaining free space etc) can apparently be modified with tune2fs.

(Thanks for adding the issue @ColtonDRG )

[2015-11-22 12:53] adrinux opened #90 "Implement (disk-based?) user switching"
The lack of user account switching makes GalliumOS less desirable for a shared computer. Scenario: I'm using the chromebook, close the lid and wander off to do something else, forget to go back and log out and leave the house. My kid needs to use it for homework, opens it up and is presented with a password prompt for me.

In effect everyone but myself is locked out except me.

There are obvious w

[2015-11-22 12:56] adrinux commented on #90
The other obvious workaround is to switch to xubuntu's default dsiplay manager (LightDM ?) instead of slim. Maybe something for the wiki instead of change, or possibly an install time option at some point?

[2015-11-22 13:21] hugegreenbug commented on #90
I suppose that we will have to use lightdm instead. I chose SLiM since it was lighter weight and I noticed some performance issues with lightdm. I'll see if I can make lightdm-gtk-greeter a little leaner.

[2015-11-24 20:50] drghuser commented on #66
I just installed Beta 1 on my Toshiba Chromebook 2 (baytrail, swanky) and I have no sound

Things done so far:
1. I tried replacing the state file with the one from James Fu (https://plus.google.com/+JamesFuBEEFCAKE/posts/Tf4Pc5Z8reH), and I confirm that the file gets overwritten during boot (also tried using restore command to force it to use my new sound state file - didn't work).
2. I modified

[2015-11-24 21:06] ColtonDRG commented on #66
I am getting a GNAWTY from Google to work on during the month of December. I hope to get the issue (and any other issues) worked out during my time with it.

[2015-11-24 21:28] hugegreenbug commented on #66
@drghuser could you try this:
http://ubuntuforums.org/showthread.php?t=2254631

[2015-11-24 22:06] drghuser commented on #66
I remember seeing this in my research - let me try it and I'll post results.  FYI - Power management seems to be working very well (getting perhaps better battery life than ChromeOS).  Chromium is definitely slower than stock ChromeOS with Chrome - not sure if there is room for improvement in future builds or not, but thought I'd mention it.

[2015-11-24 22:34] drghuser commented on #66
Not getting the results described by the person in that post - quote from his post: "uninstall linux-firmware, and be sure there is nothing remaining in /lib/firmware/intel. Finally copy the contents of the chromium repo (click tgz to download) to /lib/firmware/intel. You should see an audio device on next boot." and for the repo is referring to "https://chromium.googlesource.com/chromiumos/third_

[2015-11-25 01:30] drghuser commented on #66
I just checked dmesg and that error is gone, so I'm going to try doing the state file.
[    4.691389] max98090 i2c-193C9890:00: MAX98090 REVID=0x43
[    4.699544] byt-max98090 byt-max98090: HiFi <-> baytrail-pcm-audio mapping ok
[    4.702793] input: byt-max98090 Headset as /devices/platform/80860F28:00/byt-max98090/sound/card1/input10

[2015-11-25 01:53] drghuser commented on #66
OK, so maybe there was no progress - I read more through dmesg and I found:

[    4.593101] byt-max98090 byt-max98090: ASoC: CPU DAI baytrail-pcm-audio not registered
[    4.593109] byt-max98090 byt-max98090: snd_soc_register_card failed -517

before the good entries:

[    4.693548] max98090 i2c-193C9890:00: MAX98090 REVID=0x43
[    4.701953] byt-max98090 byt-max98090: HiFi <-> baytrail-pcm-audio

[2015-11-25 11:04] ColtonDRG commented on #79
Is solved?

[2015-11-25 18:26] drghuser commented on #84
I see this too on Toshiba Chromebook 2, SWANKY Baytrail.  I have had to toggle wifi off/on to fix.  Can it just toggle wifi off/on and then to "last state" on boot?  I also believe someone asked about controlling initial Bluetooth state.

[2015-11-25 18:28] drghuser commented on #87
I second this - If this isn't getting done soon how easy is it for me to change it so that they default to media keys?

[2015-11-25 18:37] drghuser commented on #66
Apparently there is a different between older and newer BayTrail devices with regards to audio support in Ubuntu - that probably explains why some people have no issues, and why some fixes work for some people but not others.
http://ubuntuforums.org/showthread.php?t=2255425

This discussion mentions looking for / testing newer version of Alsa so I might do that next.

[2015-11-25 19:04] hugegreenbug commented on #85
Have you updated?

[2015-11-25 19:05] hugegreenbug commented on #84
@ColtonDRG and @drghuser Would you mind explaing in more detail what the issue is? Each of you may be describing a different issue.

[2015-11-25 19:09] drghuser commented on #84
I turn on machine and it books the wifi is "on" but doesn't see/connect to the network.  I toggle off/on wifi (right clicking tray icon) and then it acts normal.  As mentioned by ColtonDRG it only seems to do it if off or suspended for a longer period of time.  I will try to get some time numbers for you.

[2015-11-25 20:50] drghuser commented on #84
~30 minutes suspend - no issues
~1.25hrs turned off (not suspend) - no issues
will test longer off and suspend next

[2015-11-25 20:54] hugegreenbug commented on #84
Which wifi chip do you have?

[2015-11-25 21:11] drghuser commented on #84
Interesting - Just woke it up from suspend again - 8 minutes, wifi acting funny like previously described.  DIdn't show several WiFi networks that should be there.  I tried connecting to one that was there with wrong password (since it's not mine) and then disconnected from it and then saw networks that were missing, only one showed up as a grouping with sub ones.  Example testnet now showed up as

[2015-11-25 21:14] drghuser commented on #84
In case it helps, here is my dmesg output
[dmesg.txt](https://github.com/GalliumOS/galliumos-distro/files/44401/dmesg.txt)

[2015-11-25 21:14] drghuser commented on #66
In case it helps, here is my dmesg output:
[dmesg.txt](https://github.com/GalliumOS/galliumos-distro/files/44403/dmesg.txt)

[2015-11-25 21:45] hugegreenbug commented on #84
Ok. Could you try putting this script: https://github.com/GalliumOS/galliumos-broadwell/blob/master/lib/systemd/system-sleep/wifi.sh in /lib/systemd/system-sleep and changing the permissions:

sudo chown root:root wifi.sh
sudo chmod a+rx wifi.sh

[2015-11-25 21:57] drghuser commented on #84
Ah, the haswell machines ISO has atheros adapters instead of intel. That would explain it.  I just put it in place and will report back after a few suspends/reboots.

[2015-11-25 22:56] drghuser commented on #84
I just opened up after a suspend about 1hr and it reconnected REALLY fast.  Nice!  Not sure if there is anything you can do, but can you change it so when there is a wifi portal/web login that it detects it and prompts / brings it up?  I know it will eventually happen when the first web browser opens and tries to access a site, but it would be nice to have it done from the get-go so other services

[2015-11-25 23:23] ColtonDRG commented on #87
I don't know how we can change it right now, but I don't think this is happening soon. Priority buimped until we can have a way to do it manually.

[2015-11-25 23:24] ColtonDRG commented on #85
Sorry, I got busy and totally forgot about it. I'll do it right now.

[2015-11-25 23:28] ColtonDRG commented on #84
Okay, the situation I was describing was like this:

I use my Chromebook's eth port (connected to ethernet) most of the time, so my WiFi card was toggled off for a very long time. When I toggled it back on, it failed to search for networks, and the only way to fix it was to reboot the computer. it has nothing to do with suspend.

[2015-11-25 23:29] drghuser commented on #87
OK - thanks for the quick reply.  The other issues are definitely more important (i.e. audio support for Baytrail)

[2015-11-25 23:29] ColtonDRG opened #91 "Include curl"
We need to include curl with the default installation. It is required for flashing the firmware (at least from John Lewis' instructions), plus it's an incredibly useful tool and tiny install.

[2015-11-25 23:30] ColtonDRG commented on #87
That's why I didn't bump it to high. ;)

[2015-11-25 23:34] drghuser commented on #84
Yes, and that script is OK for your model since yours has an atheros wireless adapter in it. (it should have a WB222)

[2015-11-25 23:39] ColtonDRG commented on #84
It doesn't matter. My suspend isn't causing any problems.

[2015-11-25 23:41] ColtonDRG commented on #85
Okay, I installed the latest thing. Will report back when I have more time to test it.

[2015-11-26 01:54] jmilne22 opened #92 "Can't move steam window."
Unless I hold down alt and click the steam window it wont move around like other applications do.

This seems to be because steam doesn't use native window decorations.

A workaround I've found is to use the steam skin manager and select one of the themes and tick the "Use native window decorations switch", then the steam window moves as it should.

I'm not currently aware if this happens with any

[2015-11-26 03:27] ColtonDRG commented on #92
Duplicate of #55

[2015-11-26 03:27] #92 closed

[2015-11-26 03:28] ColtonDRG commented on #92
In the future, please search for similar issues before opening new ones.

[2015-11-26 10:12] adrinux commented on #90
LXDM looks like a possible option too, light weight but with just enough features - not the same level of desktop integration as LightDM and no power down on lid close from what I read, but is that not the same for Slim?

[2015-11-26 10:20] ColtonDRG commented on #90
There was an interesting conversation in IRC about this a couple days ago. Linux's user switching is really really bad for Chromebooks, so we're considering implementing something custom.

[2015-11-26 20:26] adrinux commented on #90
Is the irc channel logged anywhere? And if not, what constitutes 'really bad'? I can imagine models with 2 Gig of RAM struggling a bit.

[2015-11-26 20:47] ColtonDRG commented on #90
No, it's not officially logged, but I should have a copy of everything that was said since I first joined.

Here's the conversation I was referring to.

[code]

[2015-11-26 21:31] hugegreenbug commented on #90
LXDM may be better. SLiM isn't developed/supported anymore and is out of date. I'm not sure that I was aware of LXDM or maybe there was something that I didn't like about it. I will check it out again, but I would like to also working a smarter user switching method.

[2015-11-26 21:57] hugegreenbug commented on #90
By smarter, I meant more efficient for low memory devices.

[2015-11-26 21:59] ColtonDRG commented on #90
:+1

[2015-11-27 04:00] hugegreenbug commented on #84
@ColtonDRG Could you paste the output of: journalctl -u NetworkManager.
@drghuser Is your problem solved now? If not, can you also paste the output of that command.

[2015-11-27 04:04] drghuser commented on #84
I'm all set (see above) on wireless networking issue - just added wish list item for captive portal detection.  Atheros vs Intel was the issue.

[2015-11-27 04:13] ColtonDRG commented on #84
I didn't know there were Chromebooks that had Intel adapters.

Captive portal detection would have to be done on the NetworkManager level. That's way above us.

[2015-11-28 01:49] ColtonDRG opened #93 "screenfetch says it's Ubuntu 15.04"

[2015-11-28 18:01] sedlund opened #94 "C720 doesnt boot from USB"
Trying to boot the live CD:

---

[14.466] xhci_hcd 0000:00:14.0: Stopped the command ring failed, maybe the host is dead
[14.466] xhci_hcd 0000:00:14.0: Abort command ring failed
[14.466] xhci_hcd 0000:00:14.0: HC died; cleaning up
[14.868] usb 1-3: device not accepting address 3, error -108
[14.868] usb usb1-port3: couldn't allocate usb_device
[14.868] usb 2-1: device not accepting address 3, er

[2015-11-29 01:13] ColtonDRG opened #95 "Include fonts-roboto"

[2015-11-30 17:11] ColtonDRG opened #96 "Switch to LXDM"
We should consider switching to LXDM or some other login manager. SLiM is very nice and minimal, but we have gotten quite a lot of user complaints about it.

[2015-11-30 17:13] ColtonDRG opened #97 "Gallium wallpapers"
We should have some wallpapers included with the system with photographs of Gallium. It's cool and it fits our name.

Idea stolen from /u/LinuxCam :P

P.S. We should also include some GalliumOS themed wallpapers too (maybe one that's similar to the SLiM background, the GRUB menu background, the boot splash, etc, etc)

[2015-11-30 17:57] elioqoshi commented on #97
Assigning this to myself. Feel free to shoot ideas to me

[2015-11-30 20:41] hugegreenbug commented on #97
@elioqoshi Thanks for volunteering. This may be more difficult than it sounds. The public domain images that I've found so far aren't large enough in resolution.

[2015-11-30 23:45] stozi commented on #66
I'm willing to test this on my Lenovo N21 if someone can help me identify the write protection screw/jumper

[2015-12-01 00:28] drghuser commented on #66
https://www.reddit.com/r/chrubuntu/comments/3g58xa/help_disable_hardware_write_protection_on_lenovo/

[2015-12-01 00:30] drghuser commented on #66
I have played with a few different sets of Intel firmware aimed at Chromebooks and it seems like I can get it detected and get it to show up in ALSA but still no sound.  I plan on posting more particulars soon.  I even tried not having PulseAudio installed since I saw some postings about that sometimes messing things up.

[2015-12-01 06:12] hugegreenbug commented on #94
I would have seen this error if it was a kernel bug and I never have. Have you tried upgrading your firmware/seabios? Are you using the haswell iso?

[2015-12-01 06:14] hugegreenbug commented on #55
I believe that this is fixed with the latest updates to libgestures and xfwm4 in the dev repo.

[2015-12-01 06:41] hugegreenbug commented on #84
@ColtonDRG Since your issue is not suspend related, could you try the following?:

1. Edit /etc/network/interfaces and add:
auto wlan0

2.  Edit: vi /etc/NetworkManager/NetworkManager.conf and change:
managed=false
to
managed=true

[2015-12-01 08:23] ColtonDRG commented on #84
I have been unable to reproduce the issue recently. (Then, I have also not been using my Chromebook at my desk recently.) If I manage to reproduce it, I'll try that and report back. Unfortunately, the only way I can reproduce this is by leaving WiFi disabled for a long time (days), and then turning it back on, so if I'm busy, it really hinders my ability to test, and even if I'm not, it still take

[2015-12-01 08:28] ColtonDRG commented on #55
:+1:

[2015-12-01 08:28] #55 closed

[2015-12-01 13:57] reynhout commented on #66
Reddit field report: James Fu's workaround succeeds for Acer CB3-111 (GNAWTY).

https://www.reddit.com/r/linux/comments/3umh3t/im_looking_for_a_sub_200_laptop_that_will_run/cxi6aqg
https://plus.google.com/+JamesFuBEEFCAKE/posts/Tf4Pc5Z8reH

[2015-12-01 14:42] drghuser commented on #66
renhout, can you post what chipset the audio is for your machine, maybe a dmesg post?  If it's the same as in the Toshiba Chromebook 2  I may try removing the files in /lib/firmware/intel and removing and reinstalling linux firmware package from the package manager and do the basic ALSA sound state fix again (I keep doing that after trying different Intel firmware).

Right now I'm using firmware f

[2015-12-01 14:55] drghuser commented on #66
I just saw that you put that you got it working under Mint.  I have seen plenty of success under other distros: Arch, Mint, etc.  just not under GalliumOS.

[2015-12-01 15:43] reynhout commented on #66
@drghuser: I can ask /u/agr8sh0t on Reddit to join this thread or paste their dmesg output, if it would still be useful. I'll check to confirm that they are running Mint.

[2015-12-01 16:30] drghuser commented on #66
I just put back the original Intel files by deleting the files in /lib/firmware/intel and reinstalling the "linux firmware" package.  If you do this, then there is no sound, but the hardware is detected and a driver loaded.  The media keys (with the seach button) for volume up and down work but not mute.  If you do the asound.state update there is still no sound and then mute works and volume up b

[2015-12-01 16:33] drghuser commented on #9
Can we have it not try to load on hardware that doesn't have a touch screen?  I know it's minor but silly to have it try to load it when there is no touch screen?

[2015-12-01 16:38] drghuser opened #98 "TPM error during boot/login; write error"
Not sure what the effects of this error, but during boot on Toshiba Chromebook 2 (SWANKY) with Haswell ISO I get an error that appears during boot.  It doesn't stop the boot process, hardware is initialized and the login screen appears and works (though sometimes I get the login screen twice even though I SWEAR I didn't type the password wrong).

I took a picture of the error with my phone (since

[2015-12-01 16:44] drghuser opened #99 "Fix/replace knome calculator app - annoying to 'move' it's open window"
This is a request, low priority but may be low hanging fruit, for a better calculator to include or fix an odd behavior of it.  The gnome calculator is fine but to move it on the screen you need to right-click and choose 'move' - you can't just grab the title bar and move it.  If this oddity can be fixed that would be awesome, but I haven't figured out how to fix it.

[2015-12-01 16:54] reynhout commented on #66
@stozi: I've been unable to find official or specific docs on the net, but from a replacement parts photo, I think the WP screw goes in the hole on the left hand side (see second link, not sure of board orientation in device), near the blue (USB?) connector numbered "141123".

That screw hole has metal pads where the head of the screw would sit when torqued all the way down, which is the typical W

[2015-12-01 17:03] ColtonDRG commented on #9
No. It's not worth the effort to maintain that system.

[2015-12-01 17:05] ColtonDRG commented on #99
Duplicate of #55, which is fixed in the devel repos at this point.

[2015-12-01 17:05] #99 closed

[2015-12-01 17:07] ColtonDRG commented on #98
That's the Bay Trail Toshiba Chromebook 2? We should look into this later once we have an actual baytrail image.

[2015-12-01 17:09] sedlund commented on #94
I think this is the fix
https://groups.google.com/a/chromium.org/forum/#!msg/chromium-os-checkins/-8-63WLGhIw/L1l18ACJEAAJ

[2015-12-01 17:11] hugegreenbug commented on #98
It's because you are using the haswell image. There is a script to unbind the ehci device here: /etc/initramfs-tools/scripts/init-top/unbind_ehci since it prevents suspend. You don't have that device, which is why there is an error. You can remove this script and re-generate the initramfs: update-initramfs -k all -u .

[2015-12-01 17:15] drghuser commented on #98
Yes, Baytrail.  I'm using Haswell since there isn't a Baytrail image and you recommended Baytrail users to use Haswell.

So I should delete the unbind_ehci script and then run that update-initramfs command?

[2015-12-01 17:17] hugegreenbug commented on #98
Sure, you can delete it and run update-initramfs. The script isn't hurting anything, it just prints out that error.

[2015-12-01 17:18] ColtonDRG commented on #98
We never recommended Bay Trail users to install haswell. Anyway, closing this since it's a harmless problem that will be fixed when I make the baytrail image.

[2015-12-01 17:18] #98 closed

[2015-12-01 17:27] drghuser commented on #98
Yes, on Reddit you have - according to Reynhout (see below).  I'm glad this error is harmless, but I didn't know if it was or not and this is an Issues / bug log.  I'm just trying to help test and get this working like everybody else.

https://www.reddit.com/r/chromeos/comments/3se79s/galliumos_for_chromeos_devices_has_released_its/
"[–]consaw_ 1 point 17 days ago
Which iso to download for CB2? We

[2015-12-01 17:28] ColtonDRG commented on #98
Okay, but  haswell was never officially recommended, we just said it was the most likely to actually boot.

[2015-12-01 17:32] reynhout commented on #98
@drghuser sorry for any confusion -- Haswell was the "best tested" image, and it had been recommended on #galliumos at some point. I was repeating that recommendation for lack of any better suggestions at the time (which remains true) :)

But as @ColtonDRG says, we hope to have a Bay Trail image soon which will supersede the "nearest neighbor" suggestion of Haswell.

Updating will be minorly manua

[2015-12-01 17:36] ColtonDRG commented on #98
@reynhout We should really instruct users to run this, just to be safe. ;)

`apt-get remove galliumos-haswell galliumos-broadwell galliumos-device-c710 galliumos-sandy && apt-get install galliumos-baytrail`

Also, to clarify further, haswell was "recommended", but not officially. ;)

[2015-12-01 17:37] drghuser commented on #98
I have no confusion, I installed Haswell to help test and find bugs to get a Baytrail image.  I'm not upset with the bugs, I am a software developer so bugs are part of the process.  I just felt a bit slighted by ColtonDRG since I am only trying to help.  If you have everything set and don't need bug reports or testing then I will just sit and wait until the Baytrail image is completed.

[2015-12-01 17:38] drghuser commented on #98
Thanks ColtonDRG :-)

[2015-12-01 17:41] reynhout commented on #98
@drghuser: Understood and we do totally appreciate your help. This remains a major issue for us and we have limited testing ability at the moment. @ColtonDRG will be getting a loaner GNAWTY, but there has also been some speculation that not all Bay Trail devices have the same audio core (which seems plausible -- some Bay Trails are Celerons and some are Atoms and the Intel hda is not necessarily t

[2015-12-01 17:42] ColtonDRG commented on #98
@drghuser: Oh, sorry if I seemed hostile. That was not my intention, but I understand how it could have come off that way. We definitely appreciate the bug reports and testing.

[2015-12-01 17:44] drghuser commented on #98
I have seen in the various drivers that it does report the audio as "Atom" even though it's a celeron.  What is perplexing is that it works on other linux distros.  It seems it might have to do with the newness of the kernel drivers.  I have seen lots of talk about issues with Baytrail audio being fixed in newer versions of the kernel as well as ALSA.

No probem @ColtonDRG  - I am excited about th

[2015-12-01 17:46] reynhout commented on #98
@drghuser yeah, that's my current worry: that we might not be able to put this one (well, *that* one, #66) to bed til we bump the kernel.

[2015-12-01 17:50] ColtonDRG commented on #98
The problem is that we have had issues with the Linux 4.2+, which is why we're using 4.1 in the first place. Maybe we should give LTS kernel a shot (really, we should be using it anyway, since 4.1 is the latest LTS kernel)

[2015-12-01 17:52] drghuser commented on #98
The only issue I have run into, and it's nothing you have done, is Java.  The machine I'm building needs to have Java working for webpage applets, and the OpenJDK 7 / IcedTea 7 has an annoying bug where it warns about remote code (even where it is not remote). It is fixed in version 8 but that is not in the official repository yet, so I had to add a repo that had OpenJDK8 and IcedTea 8.  Problem s

[2015-12-01 17:54] ColtonDRG commented on #98
This is why we should rebase on sid. ;)

[2015-12-01 18:01] hugegreenbug commented on #66
I'm going to double check the kernel config this evening and see if I missed anything.

[2015-12-01 18:18] drghuser commented on #66
@reynhout  @stozi  - Reynhout's second link does show it best - near the USB connector and SD card reader (at least that's what it looks like)

[2015-12-01 21:17] adrinux commented on #90
I thought I might install it and see, but the dependencies seemed to involve half of lubuntu. I'm exaggerating, but it was enough to put me off. Maybe thats what put you off before @hugegreenbug ?

I don't know. I think it's perfectly possible for you to say that Chromebooks are too wimpy and - at least for a 1.0 release - user switching wont be supported.

[2015-12-01 23:50] hugegreenbug commented on #66
I did miss something for baytrail in the kernel. Could someone try this: https://drive.google.com/file/d/0B6zPD2kAJoTJM0J0Z09GNllGa1k/view?usp=sharing and see if it makes a difference?

[2015-12-02 02:38] drghuser commented on #66
I just downloaded and chose to install it - got the following output:
/usr/sbin/iucode_tool: /lib/firmware/intel-ucode/ibt-hw-37.7.bseq: invalid file format
E: intel-microcode: failed to create or prepend the early initramfs to the initramfs
Generating grub configuration file ...
Found background: /usr/share/xfce4/backdrops/galliumos-default.jpg
Warning: Setting GRUB_TIMEOUT to a non-zero value wh

[2015-12-02 02:51] drghuser commented on #66
After reboot there was still no sound and volume up/down media keys worked but not mute.  Dmesg output looked similar/same as past.  I copied the James Fu  asound.state file and rebooted.  Now I had all working media keys but no sound.  I decided to run the alsa tools test script again (haven't run it in awhile troubleshooting other firmware, etc.  The output looks good - I think we are closer.  I

[2015-12-02 03:09] hugegreenbug commented on #66
@drghuser Thanks for trying it. I don't know why the microcode didn't apply or what the /dev/mmcblk errors are about.

Have you tried the firmware here: http://git.kernel.org/cgit/linux/kernel/git/firmware/linux-firmware.git/tree/intel ? There is also updated microcode there.

[2015-12-02 04:01] drghuser commented on #66
That appears to be the same as the one I referenced above, just a different source location.

[2015-12-02 04:05] hugegreenbug commented on #66
Ok.

[2015-12-02 04:05] drghuser commented on #66
That firmware does work, in fact that is the only one I have found other than the one in the "linux firmware" package that has actually worked/loaded.

[2015-12-02 04:05] drghuser commented on #66
just no sound. :-(

[2015-12-02 04:07] hugegreenbug commented on #66
Have you tried alsamixer yet to unmute things? I've read that some have had to do that.

[2015-12-02 04:11] drghuser commented on #66
the restored asound.state file appears to be unmuted, and I thought I opened the mixer in terminal in at least one of my many desperate attempts. :-)  I'm trying to make sure I try all the various permutations of the various fixes / firmwares combined with each other.

[2015-12-02 04:17] drghuser commented on #66
yes alsamixer just shows the same data in terminal and in the GUI versions.  Everything says there is sound, but there is just silence.

[2015-12-02 05:04] drghuser commented on #66
When I tried the files at https://kernel.googlesource.com/pub/scm/linux/kernel/git/firmware/linux-firmware/+/refs/heads/master/intel  (which appear to be the same as @hugegreenbug posted  http://git.kernel.org/cgit/linux/kernel/git/firmware/linux-firmware.git/tree/intel ) I just deleted the files in /lib/firmware/intel and copied the files from the location.  FYI - The files that get installed in

[2015-12-02 16:14] hugegreenbug commented on #90
@adrinux Yes, I think that is what put me off. I checked it out a few days ago and saw the same thing. However, I realized that the dependencies are superficial. I was able to re-compile it without all of those deps.

[2015-12-04 05:58] stozi commented on #66
Btw, so to do this using John Lewis's script on my Lenovo N21, I must use the BOOT_STUB mod, which means any time I accidentally hit refresh or power I have to open my machine and disconnect the battery? That's what I'm getting here: https://johnlewis.ie/custom-chromebook-firmware/rom-download/

[2015-12-04 10:46] ColtonDRG commented on #66
@stozi If I understand it correctly, you only have to do that if you push Refresh and Power at the same time. Either way, it's off topic.

[2015-12-04 14:25] reynhout commented on #66
@stozi confirming @ColtonDRG: When you tell the Chromebook to initiate the ChromeOS recovery procedure (by pressing Refresh+Power together), it will try do to so. The recovery code doesn't exist in the new ROM, so it will get stuck.

Fortunately, no code will run and nothing bad will happen to your installed system. But the machine will remember your request and keep trying on reboots, until you m

[2015-12-04 19:13] stozi commented on #66
Great, moving ahead. Sorry, this isn't right on topic, but I need help if I'm to test my Lenovo N21. I don't see a write-protect screw here and I have no idea what a jumper point would look like:
![img_20151204_140239](https://cloud.githubusercontent.com/assets/6632749/11598619/00858e7e-9a91-11e5-965b-350af5d328dc.jpg)

[2015-12-04 19:16] reynhout commented on #66
@stozi did you see this comment? https://github.com/GalliumOS/galliumos-distro/issues/66#issuecomment-161029698

From your photo, I think that corresponds to a screw hidden under that white "lenovo" sticker.

[2015-12-04 19:41] stozi commented on #66
you are, obviously, completely correct. So far so good, last tangental question, what do I pick on the Gallium download page? Broadwell?

[2015-12-04 19:47] reynhout commented on #66
We've been suggesting Haswell generally, but it probably doesn't make much difference here.

You can switch between hardware specific configs with `apt-get remove galliumos-haswell && apt-get install galliumos-broadwell` (etc).

[2015-12-04 19:53] reynhout opened #100 "No audio (in/out) on Google Pixel 2015 (SAMUS)"
Reported on Reddit: https://www.reddit.com/r/GalliumOS/comments/3tb7ly/no_sound_on_pixel_2_and_accidentally_removed/

Possible solution? https://github.com/raphael/linux-samus

The internal mic is also not working on SAMUS. Possibly related, so it might make sense to track them together. Report: https://www.reddit.com/r/GalliumOS/comments/3xw2zm/audio_issues_on_pixel/

[2015-12-04 22:49] stozi commented on #66
Ok, well Gallium is running nicely from live USB on my Lenovo N21. Quite an attractive design. No audio, of course, given the testing that you all have done, is there anything you'd like me to try on this?

[2015-12-06 02:19] welbinator commented on #100
Is there anybody out there who could break this "possible solution" down into a noob friendly tutorial? That link you provided makes a lot of assumptions regarding the reader's familiarity with Linux

[2015-12-06 02:32] reynhout commented on #100
Sorry, that link isn't a solution for users. With any luck, there's something in there that will help someone on the GalliumOS team debug the problem and roll the fix into a package update.

When we get it fixed, you will hopefully not need to do anything tricky at all -- just update the system via the usual `apt-get update && apt-get dist-upgrade` process.

[2015-12-06 02:51] welbinator commented on #100
ahaha, ok. That makes a lot of sense. Thanks!

[2015-12-06 14:20] ColtonDRG commented on #100
Are we sure this is unrelated to #86 or #82?

[2015-12-06 14:22] ColtonDRG commented on #66
No, there isn't. If you replace that screw it will just make your life harder next time you want to update the firmware.

[2015-12-06 15:24] reynhout commented on #100
Do you mean #66 instead of #86? If so, possibly -- but the new Pixel isn't a Bay Trail, so I decided to track this separately until we could confirm/deny the relationship.

#82 could be related, but I think the reports are that sound never worked on this model. There does seem to be a lot of confusion getting sound to work as expected though, much of which appears to be status quo in Linux. :(

[2015-12-07 02:02] ColtonDRG commented on #100
Oops, yes, you're right. I was referring to #66. My bad.

[2015-12-07 06:31] hugegreenbug opened #101 "HDMI audio out doesn't reliably work on the c720"
See here: https://www.reddit.com/r/GalliumOS/comments/3vichy/hdmi_audio/cxoqz6l

[2015-12-07 18:00] hugegreenbug commented on #95
This would require modifying the galliumos-meta package to include the fonts-roboto package in galliumos-desktop

[2015-12-07 19:16] hugegreenbug commented on #66
@drghuser could you try to move /etc/modprobe.d/snd-had-intel.conf to somewhere else and reboot? Sorry, I should have thought of this before.

[2015-12-07 19:18] hugegreenbug commented on #66
@stozi could you also try the above suggestion?

[2015-12-07 19:21] drghuser commented on #66
I didn't do that because I thought the last person, @Ravoz ,  to try that had their machine stop booting.

[2015-12-07 19:37] hugegreenbug commented on #66
@drghuser Oh, I did suggest it earlier :). It can't cause the machine to stop booting. He may have moved something else by accident. That file doesn't exist there in a normal Xubuntu installation. It helps with sound issues for haswell and broadwell.

[2015-12-07 19:39] drghuser commented on #66
I'm trying it now - also, it's hda, not had.

[2015-12-07 19:40] hugegreenbug commented on #66
Ok. Thanks, I fixed it.

[2015-12-07 20:03] adrinux commented on #62
Well, what do you want it to do? Where will it be hosted?
I find static site generators have least overhead - as long as you don't want comments built in (let people comment on reddit?). And integration with github pages would allow it to remain under the galliumos org here. Personal favourite is currently [hugo](http://gohugo.io/), but everyone will have their own.

The main thing will be choosin

[2015-12-07 20:07] drghuser commented on #66
no sound still.  I even tried reinstalling linux firmware and alsa base; no dice;  copied the trusty asound.state; nada.   I can try that other intel firmware again, but so far moving that hda conf file doesn't seem to have made a difference (dmesg appears the same too).

[2015-12-07 20:09] hugegreenbug commented on #66
Ok. Thanks for trying.

Hugh

On Mon, Dec 7, 2015 at 1:07 PM, drghuser <notifications@github.com> wrote:

[2015-12-07 20:37] ColtonDRG commented on #62
Well, I want it to be relatively low overhead and have a decent interface for everyone on the team to be able to make posts. It also needs to look good, and preferably be themeable. It will be hosted on the server at galliumos.org. The web server over there is Nginx, but we can of course set up a reverse proxy if needed.

[2015-12-08 16:51] drsn0w commented on #66
I own an ASUS C300 (QUAWKS) and helped John Lewis in the initial Baytrail bringup of his ROM. I'd love to help with this issue, I'll install Gallium tonight. What would you like me to test?

[2015-12-08 16:54] hugegreenbug commented on #66
@drsn0w Honestly, I'm not sure anymore. I guess you can try to boot a 4.2 kernel. If it doesn't boot, you may need to set acpi=off as a kernel boot option. Thanks!

[2015-12-08 16:59] hugegreenbug commented on #66
@drsn0w You can also try some of the suggestions in this thread and here: https://plus.google.com/100074662224885886899/posts/dkpHJ1ufwP7 . I would recommend renaming /etc/modprobe.d/snd-hda-intel.conf to something that doesn't end in .conf

[2015-12-08 16:59] drsn0w commented on #66
Alright, I'll give that a whirl when I get home. I use a 4.3 kernel on my existing Debian installation on the C300 and following the fixes on John's group worked for me, so I'll try 4.2, as well as 4.3. Is there a specific kernel configuration file for Gallium that I should use?

[2015-12-08 17:01] hugegreenbug commented on #66
@drsn0w Our kernel config could be the problem. The config we are using is here: https://github.com/GalliumOS/linux/blob/master/.config .

[2015-12-08 17:05] drsn0w commented on #66
Ok, I'll take a look and compare it with my existing config

[2015-12-08 17:20] drsn0w commented on #98
@ColtonDRG what issues have you been having with 4.2+?

[2015-12-08 17:43] drghuser commented on #66
I'm pursing a lead I saw from someone using Gentoo with minimal changes.  Mine isn't muted, but I'm trying adding a asound.conf with:
pcm.!default {
    type pulse
    # If defaults.namehint.showall is set to off in alsa.conf, then this is
    # necessary to make this pcm show up in the list returned by
    # snd_device_name_hint or aplay -L
    hint.description "Default Audio Device"
}
ctl.!defau

[2015-12-08 18:51] ColtonDRG commented on #98
I'm not the one to ask. @hugegreenbug is.

[2015-12-08 19:02] drghuser commented on #98
I opened this and @hugegreenbug  had me  delete the unbind_ehci script and then run that update-initramfs command.  It's due to somthing needed for the Haswell chipset machines and causes an error on Baytrail machines.
I'm still getting a write error: no such device but not the TPM error anymore.

[2015-12-09 08:23] drsn0w commented on #66
Welp, I excitedly installed GalliumOS w/o grabbing the kernel config from the boot partition of my C300's Debian. Digging through my build machine now, hopefully it's around here somewhere. I'll also take a look at Fedora's default kernel configurations, as I know sound works on them with aforementioned steps

[2015-12-09 08:41] drsn0w commented on #66
Looking at a diff between your kernel config and Fedora's kernel config doesn't tell me much. Granted, diff output gives me a headache, and the Fedora kernel config is 4.4 whereas yours is 4.1. From what I can tell, there aren't any options in Fedora that aren't enabled on Gallium's Linux.

Here's the diff output if anyone wants to take a look:
(I ran ```cat config-x86-generic-fedora | grep SND >

[2015-12-09 11:22] adrinux commented on #62
Well, low overhead and an easy interface tend to be opposed to each other. Personally fed up of security updates and worries (Drupal in my case but Wordpress is at least as bad). Most static site generators allow people to write in markdown, which is reasonably easy. Anyone posting would at least need to know markdown and presumably git, everything else would likely be automated. But as I say, mos

[2015-12-09 13:12] drghuser commented on #66
Several things I have read led me to believe that the issue was at the kernel level, that the successful installations of various iterations of linux that had working sound were all newer kernel releases.

[2015-12-09 15:10] ColtonDRG commented on #62
I do run WordPress sites for others regularly. I'm sure I could keep up with another. The overhead would be a bit sucky, but I think I could deal with that. We aren't exactly starving for server resources over there.

[2015-12-10 18:05] ColtonDRG commented on #101
It was tricky on the C710 too. Also, from what I can tell, it will be a nightmare on Bay Trail...

[2015-12-11 01:52] reynhout commented on #66
GNAWTY reported fixed here: (parent of) https://www.reddit.com/r/GalliumOS/comments/3to9lj/toshiba_chromebook_2_no_sound/cxuqvcy

[2015-12-11 02:00] ColtonDRG commented on #66
https://www.youtube.com/watch?v=7WBueo144T8
https://www.youtube.com/watch?v=0YaM09UpgfI

Those were made using Linux 4.3 from Ubuntu's mainline kernel PPA.
The first one works on Linux 4.1.6-galliumos, the second one doesn't.
More details coming soon.

[2015-12-11 03:08] ColtonDRG opened #102 "Tasks: Bay Trail Build Progress"
Here is a list of Bay Trail issues that are fixed. If one exists that is not on this list, please let me know in the comments so I can add it. Items with a checked box are completed.

[ ] Audio
  [ ] Internal Speakers
  [ ] Headphones
  [ ] Automatically switching from internal speakers to headphones and back
  [ ] Setting the correct audio device by default
  [ ] HDMI Audio
    [ ] Automatically

[2015-12-11 03:27] drghuser commented on #66
Interesting @reynhout - the steps in the script mentioned in that post seem to be the exact same things I have been doing manually, though I have been using James Fu's asound.state file.  I will run this script tonight/tomorrow and post my results.  The video from @ColtonDRG gives me hope! :-)

[2015-12-11 03:29] ColtonDRG commented on #66
I didn't use that script. I used good old fassioned research and elbow grease. Remember I have to make this happen by default in the galliumos-baytrail package. ;)

[2015-12-11 03:32] drghuser commented on #66
Well my research and elbow grease haven't worked yet, and like I said that script appears to be exactly what I have found to be supposedly working for others (just automated) and not yet succesful for me.  He just replaced the firmware and the asound.state and made sure the speakers are unmuted.

[2015-12-11 03:33] drghuser commented on #66
@ColtonDRG Let me know if you have something you want me to burn to a flashdrive and try booting from in my Toshiba Chromebook 2

[2015-12-11 03:36] ColtonDRG commented on #66
I don't plan on building any isos just yet, but I will ask you to remove whatever device package you have and install galliumos-baytrail from the testing repo whenever I have it ready.

[2015-12-11 03:45] drghuser commented on #66
Can I just liveboot from USB (when it's ready) just to make sure it's OK before making the changes to the installed copy?  Also, when it is ready and looks good from live USB boot I would do the following to remove the package like you requested above:
apt-get remove galliumos-haswell galliumos-broadwell galliumos-device-c710 galliumos-sandy
apt-get install galliumos-baytrail

[2015-12-11 03:46] drghuser commented on #102
The fix, for the headphones switching, to my knowledge is to edit the settings file /usr/share/pulseaudio/alsa-mixer/paths/analog-output-headphones.conf as follows:
[Element Speaker]
switch = mute
volume = zero

[2015-12-11 03:59] ColtonDRG commented on #66
I don't know. I'll try it once I have the package ready. I'll inquire about getting nightlies built as well.

[2015-12-11 04:16] ColtonDRG commented on #102
I tried that. It didn't work.

[2015-12-11 04:49] drghuser commented on #66
The haswell iso ran fine (other than no sound) from USB, that is what convinced me to dive in and install it to the internal drive.

[2015-12-11 04:53] ColtonDRG commented on #66
I think the broadwell is actually closer to being correct, but on this kip it doesn't seem to make any difference no matter what galliumos-device package is installed.

[2015-12-11 07:33] ColtonDRG commented on #66
Okay, I'm ready for someone to test now...

Please download this file
https://cdn.coltondrg.com/galliumos-baytrail-0.1.1.deb
and install it with `dpkg -i`. It should remove the old haswell/broadwell/sandy packages automatically, but you should remove them manually beforehand, just in case. The command for that is `sudo apt-get remove galliumos-haswell galliumos-broadwell galliumos-device-c710`

Yo

[2015-12-11 08:29] ColtonDRG opened #103 "Bay Trail: GRUB"
https://youtu.be/0m8TouGFfuc
This video says everything that needs to be said.

[2015-12-11 15:19] drghuser commented on #103
nice!

[2015-12-11 15:30] drghuser commented on #66
I did the manual remove (per suggestion) and then installed the package and rebooted.  Everything worked without needing to change default device (though I I think I did that earlier when testing other fixes).  I also checked the package manager and galliumos-laptop was listed as installed and everything seems to be good so far.  Sound!!!  Thank you @ColtonDRG !!

[2015-12-11 15:32] drghuser commented on #66
I have a second Toshiba Chromebook 2 on it's way to me.  I like this one (the one I'm building for a gift) so much that I bought one for myself.  Refurb new from Toshiba $160 on eBay (they have several if anyone wants one)

[2015-12-11 19:16] ColtonDRG commented on #103
This has been revealed by some clever troubleshooting to be an issue with SeaBIOS and eMMC. There's not much we can do at this moment, but parhaps we can take another look at it later.

[2015-12-11 19:16] #103 closed

[2015-12-11 20:18] ColtonDRG commented on #102
I have some interesting new findings.

Bay Trail Chromebooks use eMMC storage as opposed to SATA or SATA M.2. This makes things a little complicated. It causes some errors while doing certain operations. These are mostly benign, but still very annoying. It also causes issues with GRUB that result in GalliumOS taking a lot longer to boot on that platform than any other. Luckily, it's not the end of

[2015-12-11 20:21] drghuser commented on #102
I have found the performance fine with the eMMC storage.  I wasn't sure what you were trying to show in your video on the #103 thread since it looked normal to me (since my only experience is booting from eMMC).

[2015-12-11 21:10] ColtonDRG commented on #102
Notice the low color depth and incorrect resolution on the kip? On the parrot, it used the video mode 1366x768x32, which is the native resolution of the screen. On the kip, it used some other resolution. That's just part of it though, GRUB also boots the operating system almost instantly from the SATA drive on the parrot, but on the eMMC drive of the kip it takes several seconds, significantly slo

[2015-12-12 03:03] reynhout opened #104 "Remove desktop battery indicator in Chromebox builds"
Do any Chromeboxes have batteries?

[2015-12-12 06:36] ColtonDRG opened #105 "chrx install users are missing groups"
The user in chrx installs are missing the following groups.

lpadmin
sambashare
plugdev
dip
cdrom

[2015-12-12 06:37] ColtonDRG commented on #104
Why would they?

[2015-12-12 07:04] ColtonDRG opened #106 "Debian Sensible Browser?"
This appears in the Prefered Applications dialog and causes both Firefox and Chromium to complain a lot until the user manually goes in and changes it. We should see if we can't fix it.

[2015-12-12 07:07] ColtonDRG commented on #94
Is this our problem? Is it fixed?

[2015-12-12 07:11] ColtonDRG commented on #34
We need to fix this. Bumping priority.

[2015-12-12 07:11] ColtonDRG commented on #41
What's the progress on this?

[2015-12-12 07:12] ColtonDRG commented on #42
What's the progress on this?

[2015-12-12 07:26] ColtonDRG commented on #26
We still need something. This is important. I would bump the priority, but I can't bump it any higher than it already is.

[2015-12-12 18:54] reynhout commented on #68
(for searchers, and as a reddit reference target...)

I believe this fix works for the new Toshiba Chromebook 2 (GANDOF) and the Dell Chromebook 13 (LULU):

 https://github.com/corcoran/chromebook_keyboard_backlight_driver

[2015-12-12 19:08] reynhout commented on #105
OK, will fix.

Is that the full output of `grep username /etc/groups | cut -d\: -f1`? I don't have any ISO-installed machines to confirm presently.

[2015-12-12 20:18] ColtonDRG commented on #105
No, the user's own group (the one with the same name as their username), adm, and sudo should also be there, but they were already there on the user's machine, so I didn't mention it.

I also used "groups" to find those.

[2015-12-12 20:51] reynhout commented on #105
OK, thanks.

User's primary group is set in `/etc/passwd`, so no risk of altering when adding groups.

Group `sambashare` doesn't appear to be in the default install. Did you add the `samba` pkg to your system postinstall?

[2015-12-12 20:53] ColtonDRG commented on #66
It's done.... Audio works perfectly on kip. https://youtu.be/CsQrxTrALb4

To achieve the proper switching between headphones and speakers, we stole the entire ALSA system from kernel 4.2.7. The new kernel is here. This should be uploaded to the testing repos soon, but you can download it straight from here if you can't wait. https://cdn.coltondrg.com/linux-image-4.1.14-galliumos_6_amd64.deb
You ca

[2015-12-12 21:02] ColtonDRG commented on #105
No, I didn't add that package. At least not intentionally. It may have been pulled in as a dep for something else I installed. Still, this group does exist and I am in it on both of my systems and on the LiveCD.

[2015-12-12 21:10] reynhout commented on #105
OK, might be something I'm leaving out in the core image then. I'm not sure whether Samba belongs in the default install. :(

[2015-12-13 03:49] rolladude1166 commented on #66
Just got done installing everything, and I can confirm it works on the Gnawty. Thank you all very much for all your efforts!!

[2015-12-13 05:43] hugegreenbug commented on #68
Yes, it works and will be included in our next kernel update.

[2015-12-13 19:33] drsn0w commented on #66
Good work!! Thank you, glad you got it working :D

[2015-12-14 01:04] reynhout commented on #105
fixed in chrx-2.0.5

[2015-12-14 01:04] #105 closed

[2015-12-14 01:36] shinji257 opened #107 "Bluetooth pairing fails on C720"
I don't know if this is specific to the C720 or not.  As a point of reference I did update the rw_legacy partition using the johnlewis script however I don't believe that to be the cause based on what I'm finding.  This doesn't appear to be a GalliumOS specific issue but I'm still reporting it here since I've already seen the results of upstream ticketing.

Anyways as of kernel 4.1.6 when you atte

[2015-12-14 01:45] reynhout commented on #100
Some SAMUS customizations

* for linux-3.19.x https://github.com/tsowell/linux-samus
* for linux-4.x https://github.com/raphael/linux-samus

[2015-12-14 02:17] reynhout opened #108 "Touchpad issues on Pixel 2 (SAMUS)"
Reported on Reddit https://www.reddit.com/r/GalliumOS/comments/3wp4f0/pixel2015_touchpad_issues/ and also by tjscanlo on #galliumos.

tjscanlo reports success after following instructions here https://plus.google.com/+ClayCaldovino/posts/beM8HnKMQ64 ... which installs @hugegreenbug 's replacement driver..

[2015-12-14 18:30] drghuser commented on #102
I just built a live USB boot using rufus and the latest nightly Baytrail build #70 (galliumos-1.0a-20151213-NIGHTLY-baytrail.iso) and tried to boot as Live; got errors (trying to create root, etc.).  I will have to wait for my second unit to test a regular install.

[2015-12-14 18:33] reynhout commented on #102
Nightly images are not booting presently. They include a new kernel, which might be the problem.

[2015-12-14 19:31] hugegreenbug commented on #102
Yeah, it's the new kernel. I forgot to enable aufs. I'll fix it tonight.

[2015-12-14 21:30] ColtonDRG commented on #107
There's not really much of anything we can do about this for now. We don't really have the time or skill to fix serious problems like this. The only thing I can think of is porting the bluetooth stack from Linux 4.1.5 to our own kernel. Also, as you yourself acknowledged, it is outside the scope of our project. We can look into it a little more in the future, but for now I'm going to close as wont

[2015-12-14 21:30] #107 closed

[2015-12-14 21:31] ColtonDRG commented on #108
Even though we're already using @hugegreenbug's driver? Seems legit.

[2015-12-14 23:13] shinji257 commented on #107
So I got this mostly working.  These are the rough steps but I'm still validating.  GUI does work once this is done.

1) Install kernel 4.1.14 from the dev repository.
https://apt-dev.galliumos.org/pool/main/l/linux-upstream/linux-firmware-image-4.1.14-galliumos_6_amd64.deb
https://apt-dev.galliumos.org/pool/main/l/linux-upstream/linux-headers-4.1.14-galliumos_6_amd64.deb
https://apt-dev.galliumos

[2015-12-15 03:02] rolladude1166 commented on #82
Was having an issue on my gnawty with volume up control. Would turn down with super+F9 but wouldn't turn back up with super+F10, using KennethShen's suggestion fixed it for me.

But instead of choosing Playback: Built-int Audio Analog Stereo, I just picked my sound card and it worked. Mute controls and all.

[2015-12-15 14:41] drghuser commented on #102
I got my 2nd Toshiba CB35-B3330 (Baytrail/Swanky) so I downloaded the new nightly Baytrail build #72 (galliumos-1.0a-20151215-NIGHTLY-baytrail.iso) and I'm installing it now.  I got an error during the beginning of the install (MMC write error) but I think I got that with the Haswell ISO when I originally installed Gallium on the other Toshiba CB35-B3330 (Baytrail/Swanky) unit earlier this month/l

[2015-12-15 20:06] drghuser commented on #102
Audio worked right away, things seem about the same as when I tested Haswell ISO (other than Audio working).  WiFi seems fine, I didn't check if this build includes the fix for wifi sleeping issues (where it was referencing atheros instead of intel).  Nice work!

[2015-12-16 02:55] coolstar commented on #102
@ColtonDRG have you tried loading TianoCore DUET (e.g. Clover EFI) from a USB drive and chaining from TianoCore into the eMMC to see if that still has the issues?

[2015-12-16 03:06] ColtonDRG commented on #102
No. I have no idea what any of that means.
Okay, that's a lie. I did do some hackintoshing back in the day, so I do know what some of it means, but I'm still confused as to what you want me to try.

[2015-12-16 03:09] coolstar commented on #102
@ColtonDRG basically you boot into TianoCore DUET (which is EFI on BIOS) and then from there try EFI booting Linux from the eMMC (you'll need grub-efi from the ubuntu repos installed). See if the boot delay is still there if using TianoCore instead of SeaBIOS directly.

If TianoCore doesn't have the issue chaining from the eMMC, we can know the issue is actually SeaBIOS and not the eMMC hardware i

[2015-12-16 03:12] ColtonDRG commented on #102
Oh, we already know the issue is SeaBIOS. It's documented on John Lewis's blog. SeaBIOS has very poor support for eMMC. If you install GRUB on an SD card or USB flashdrive and boot to that instead, it boots almost immediately.

[2015-12-16 03:14] coolstar commented on #102
@ColtonDRG ah. ok. Basically reason I wanted you to try that is that I am doing some experimentation with getting TianoCore running on chromebooks on top of coreboot as a replacement for SeaBIOS. TianoCore has good eMMC support as it's used on other bay trail devices so if we get it working soon that'll fix the issue entirely by avoiding it :)

(Although we will have to EFI boot at that point to g

[2015-12-16 03:16] ColtonDRG commented on #102
Interesting. Could it be possible that going from TianoCore to SeaBIOS to eMMC will not be a problem thanks to TianoCore's better eMMC support? Even if not, we can set up an EFI booting procedure for Bay Trail relatively easily.

[2015-12-16 03:24] drghuser commented on #82
That symptom also happened on Swanky Baytrail  but the recent updates by @ColtonDRG seem to fix all of the prior audio issues including this one.

[2015-12-16 03:27] ColtonDRG commented on #82
Wait, what? I suppose it's possible that the new ALSA code from the new kernel we're shipping did fix this issue. I should look more into it.

P.S. I made the baytrail updates, but @hugegreenbug actually made the kernel changes. I just told him where to steal the code from. ;)

[2015-12-16 03:28] drghuser commented on #82
The info from @ColtonDRG  was in Issue #66:
...
It's done.... Audio works perfectly on kip. https://youtu.be/CsQrxTrALb4

To achieve the proper switching between headphones and speakers, we stole the entire ALSA system from kernel 4.2.7. The new kernel is here. This should be uploaded to the testing repos soon, but you can download it straight from here if you can't wait. https://cdn.coltondrg.com

[2015-12-16 03:30] drghuser commented on #82
It appeared to fix it for me.  When I was playing around trying to fix the sound issues on my Swanky Baytrail I saw the symptom described above - you either had that happen, or you could do up and down but no mute, and possibly a third weird combo.  All of that went away with @ColtonDRG 's changes, whether done on an existing installation or installed new from ISO.

[2015-12-16 03:34] ColtonDRG commented on #82
Okay. If you're on any device that's not Bay Trail and want to test this theory further, you can install just the kernel from the above and see if it works. The basic process of that would be as follows.

Download https://cdn.coltondrg.com/linux-image-4.1.14-galliumos_6_amd64.deb
Install with `dpkg -i`
Remove linux-image-4.1.6-galliumos with `sudo apt-get purge linux-image-1.4.6-galliumos`
Reboot.

[2015-12-16 03:41] drghuser commented on #82
gnawty I believe is Baytrail - that is why I reposted the info.

[2015-12-16 03:54] ColtonDRG commented on #82
Yes, but this issue applies to all devices.

[2015-12-16 21:34] skrusrnmz commented on #102
Installed the 12-15 Bay Trail nightly last night on my swanky and it is running awesome! Really fast and smooth.

Sound has been great and working well with headphones. The only problem I've experienced is with the mic. Plugged in my earbuds with inline mic for a video chat and could hear but couldn't talk. Checked settings in the pulseaudio control panel and it shows headset mic selected for inpu

[2015-12-16 21:59] hugegreenbug commented on #102
The fix for other models was to put this file : https://raw.githubusercontent.com/GalliumOS/galliumos-haswell/master/etc/modprobe.d/snd-hda-intel.conf in /etc/modprobe.d . Then reboot. We didn't add it for baytrail since it had sound issues and we weren't sure if it was causing problems.

[2015-12-17 03:52] zylith opened #109 "Butterfly sdcard not working"
On install it does not read the sdcard. I saw the issue with the baytrail but not for Sandy. I use the sdcard as my home folder so I did not install.

[2015-12-17 04:14] ColtonDRG commented on #109
It works for me on Kip in the installed OS, but not on the LiveCD. I'll investigate further.

[2015-12-17 04:16] zylith commented on #109
Thanks. That is the only reason I haven't installed. Like I said I use that for my home folder. Thinking about installing and just moving the home folder once installed.

[2015-12-17 04:17] ColtonDRG commented on #102
I added it to the tasks list and I'll look into it. Unfortunately, I do not have any headphones with an inline mic, so I'm not sure if I can test it.

[2015-12-17 04:55] hugegreenbug commented on #102
I didn't realize that you were talking about a headphone set with an internal microphone. Has this same set worked with other linux distributions? Then, please disregard the snd-hda-intel.conf I pointed you to. It isn't relevant. I for some reason thought you were talking about the internal microphone in the camera, but I must not have read your issue thoroughly.

[2015-12-17 18:25] skrusrnmz commented on #102
@hugegreenbug  I haven't tried the headset with other Linux distros. The chromebook is the only machine I have that supports the combo port. I can tell you that it worked properly with chromeos installed. With the headset (they're actually earbuds with inline mic) plugged in the inline mic took over, unplugged the chromebook builtin mics took over.

Currently when the earbuds are plugged in pulsea

[2015-12-17 18:50] skrusrnmz commented on #102
Here are screenshots to what I see in the control panel.
When you hit the dropdown arrow there is nothing else in the list, only the headset in its current state.

https://goo.gl/photos/jehxihnGhapLF4KZA

[2015-12-17 18:54] hugegreenbug commented on #102
Oh, so the built in mic never showed up? If so, could you try that file and reboot?

[2015-12-17 19:25] skrusrnmz commented on #102
Correct, the builtin never showed. Tried the snd-hda-intel.conf and still no go. Headset mic doesn't work and builtin mic still is missing.

[2015-12-17 19:35] hugegreenbug commented on #102
@skrusrnmz Could you try putting this in /etc/modprobe.d/alsa-base.conf:

alias snd-card-0 snd-hda-intel
options snd-hda-intel model=auto

Then reboot. I found that here: http://www.fascinatingcaptain.com/howto/install-ubuntu-on-the-toshiba-chromebook-2-in-5-steps/

[2015-12-17 20:02] skrusrnmz commented on #102
I forgot all about that page. I actually had it loaded in a tab on my desktop, just hadn't made it down to the comments yet.

No change after adding those lines to alsa-base.conf.

[2015-12-17 21:42] hugegreenbug commented on #102
@skrusrnmz Could you try the snd-hda-intel.conf file again, but replace: alc283-dac-wcaps with: alc283-sense-combo

[2015-12-17 22:16] skrusrnmz commented on #102
Yeah. It may be a bit later before I can get to it but I'll post back as soon as do.

[2015-12-18 04:09] skrusrnmz commented on #102
Ok tried the change to snd-hda-intel.conf and still no change.

Should I be reverting to original before making each new change or are some of these supposed to be combined? Like taking out the additions to alsa-base.conf when trying snd-hda-intel.conf? And is there supposed to be a comma in snd-hda-intel.conf? model=,alc283... I've tried with and without just in case.

Also tried the suggestion n

[2015-12-18 04:49] ColtonDRG commented on #102
I've got the inline mic from headphones working. No such luck on internal mic.

[2015-12-18 05:11] ColtonDRG commented on #102
Update: I've gotten both working, but I am unable to get the system to switch between them. The problem is that they both register as the same mic port, but there is a different setting "DMIC Mux" that actually switches them. The internal microphone is "DMIC" and the inline one is "ADC". I shall investigate this issue further immediately.

[2015-12-18 05:44] ColtonDRG opened #110 "Bay Trail: Resuming from sleep causes audio bugs"
If headphones are plugged or unplugged while the system is sleeping, it won't be aware of the state change on wake. Plugging and unplugging headphones again while the system is awake corrects the error.

Microphones sometimes stop accepting input alltogether and instead output a soft buzzing noise after waking from sleep.

[2015-12-18 12:15] ColtonDRG opened #111 "Non-US keyboard layouts"
Our keyboard layout does not work for non-US keyboards.

[2015-12-19 01:19] eddiegreysherman commented on #78
For some reason this fix isn't working for me. It DID work the first time I rebooted...but has stopped working...

[2015-12-19 01:36] coolstar opened #112 "EFI Boot"
I have an Acer C720 which has a new ROM with coreboot + SeaBIOS + TianoCore DUET

I am able to EFI boot Xubuntu just fine on it, however, GalliumOS is missing grub2-efi and the EFI folder, which means that it is unable to boot when TianoCore is used.

[2015-12-19 03:59] reynhout commented on #73
it's baack! reported on IRC from new installs today. :)

[2015-12-19 04:02] reynhout commented on #73
Spoke too soon. Issue resolved, but still exists in beta ISO (of course).

To fix, update packages, reboot (or restart X11), *then* `rm -rf /home/hugh`.

[2015-12-19 04:02] #73 closed

[2015-12-19 04:56] ColtonDRG commented on #112
We were never expecting to have to boot in an EFI environment.

[2015-12-21 05:51] pdpob opened #113 "Notifications Behind Full Screen Applications"
Notifications for volume, brightness and battery are not visible when running applications in full screen. I found this xfce bug report and was wondering if the patch could be included with galliumos.

https://bugzilla.xfce.org/show_bug.cgi?id=7928

[2015-12-21 06:44] ColtonDRG commented on #113
It's an upstream issue, but we'll look into it

[2015-12-21 17:17] Pechnet commented on #100
Hi all,

I just got my hands on Chrome Pixel 2015 LS. I also have the sound issue. Have you got any estimate on  when this will be fixed within the new Gallium OS release? Otherwise I will need to look for alternative ways to patch it.

[2015-12-21 17:50] reynhout commented on #100
@Pechnet : we do not have an estimate at this time, sorry. We do not have a test device for this model.

The solutions above are reported to work, but have not been tested by us. If you are able to test them, please do and let us know how things go. With active assistance, we might be able to incorporate the fixes into a future release.

[2015-12-21 17:53] Pechnet commented on #100
OK thanks. Same goes for the track-pad right click?

[2015-12-21 18:00] reynhout commented on #100
@Pechnet right-click issues might just be touchpad driver config. Has the problem been reported elsewhere?

[2015-12-21 18:03] welbinator commented on #100
somebody buy these guys a Pixel already =]

[2015-12-21 20:26] Pechnet commented on #100
@reynhout Thanks for clarifying and well done, apart from the sound issue Gallium OS is impressive. Yes it it's the https://github.com/GalliumOS/galliumos-distro/issues/108. I tried to follow the recommended steps but I encounter an issue. I'm not an expert Linux user, going back to it after many years. I posted a follow up on that G+ thread.

[2015-12-21 21:17] reynhout commented on #100
@Pechnet I don't really understand what's going on in that other ticket. This is the wrong place to discuss it, but if you can add some detail there as to what the problem behaviour is, that would help. Right now that ticket reads like a mistaken report, so it would be difficult to work on.

[2015-12-21 21:21] Pechnet commented on #108
TouchPad right click doesn't work on my Pixel 2 LS (SAMUS). It only works by keeping two fingers on the TouchPad while pressing the right click. Apart from it seems ok, 2 fingers scroll is quite good.

[2015-12-21 21:21] ColtonDRG commented on #100
I would be very interested in working on the Pixel issues, but I need a Pixel first.

[2015-12-21 21:22] ColtonDRG commented on #108
That's how it is supposed to work. People seem to think that there's supposed to be a right click zone in the lower right corner of the trackpad. There's not. No idea where people get that idea from.

[2015-12-21 21:24] #66 closed

[2015-12-21 21:24] ColtonDRG commented on #66
If someone finds some device that's not working, let me know. I'll fix it.

[2015-12-21 21:25] Pechnet commented on #108
Thanks @ColtonDRG. I just thought that was a bug, this is the first time I heard it was meant to be like that.

[2015-12-21 21:31] reynhout commented on #108
"right click zone" is a common touchpad config. It seems awkward to me, so I'm glad it's not the default on GalliumOS, but it should be possible to set up.

The original ticket was about something else though, which was introduced and then fixed in packages after the beta1 image, so I'm going to close this ticket.

[2015-12-21 21:31] #108 closed

[2015-12-22 14:23] ColtonDRG commented on #112
Here it is https://youtu.be/d8dIO_mnnoE

[2015-12-22 19:47] reynhout opened #114 "ACPI/Intel backlight"
(migrated from galliumos-base, issue number 3)

I think "the script" refers to `/usr/bin/change-brightness` in that repo.

[2015-12-22 20:06] hugegreenbug commented on #114
Actually, this isn't an issue anymore. We are still including /usr/bin/change-brightness, but the the keys are now mapped as ACPI events, so we aren't using the script anymore.

[2015-12-22 20:08] ColtonDRG commented on #114
Well, in that case, I guess we should close it.

[2015-12-22 20:08] #114 closed

[2015-12-23 12:29] zephyrsin opened #115 "Black screen on Swanky"
I removed the read-write tag, and installed the johnlewis BIOS from the website.

When I attempted to boot using a USB with the 12-22 nightly that was burned with dd, the screen went black.

Afterwards, I tried to boot using the recovery tool written on a USB, but it went black again.

Now, whenever I try to turn on the chromebook, the backlight of the screen lights up, and then goes black.

Is th

[2015-12-23 12:44] ColtonDRG commented on #115
This is the wrong place. Please join the IRC channel and ask if someone there can help you.

[2015-12-23 12:44] #115 closed

[2015-12-23 15:53] reynhout commented on #115
It sounds like you're stuck in the recovery loop. After flashing firmware to replace BOOT_STUB, you won't have the code for a recovery, so if you initiate the recovery sequence, it will fail. Unfortunately, the device will try again every time you boot. John Lewis talks about this on his download page.

If this is the problem, you need to open the device again and disconnect the battery for a minu

[2015-12-23 15:57] ColtonDRG commented on #115
Oh, duh, why didn't I think about that? Thanks, @reynhout.

[2015-12-24 05:23] hugegreenbug commented on #110
I think you should report this to the alsa-users mailing list. It seems like a bug.

[2015-12-31 15:36] reynhout opened #116 "Include software-properties-common in default build?"
Primarily for the `add-apt-repository` command, which is common in online documentation.

After the default install, including `software-properties-common` would add 634KB, so space shouldn't be a concern but there might be others?

[2015-12-31 19:37] zephyrsin commented on #110
I'm having an issue with the mic as well, it's not being detected altogether

-swanky

[2016-01-01 03:27] reynhout commented on #87
This is the only open keyboard layout ticket despite frequent discussions, so I'll add this here for now:

We've heard several requests for a way to get F11 and F12 on keyboards that don't have the physical keys. Most recently: https://www.reddit.com/r/GalliumOS/comments/3yzdem/all_i_want_for_2016_is_an_f11_f12_and_a_right/

Super_L + Shift + F[12] for F1[12] seems convenient, if it's possible.

[2016-01-01 03:38] reynhout commented on #89
Ubiquity also sees Xubuntu and Lubuntu installations as "Ubuntu 15.04". I think it uses `/etc/lsb-release` to label the menu options.

We've talked about wanting to leave `/etc/lsb-release` intact for other detection mechanisms that we don't want to confuse, so this might be wontfix?

[2016-01-01 18:25] krulkrul commented on #87
I'd like to have this option too

[2016-01-01 22:42] hjam91 opened #117 "Going to standby mode second time freezes the computer WOLF/Haswell"
WHen I shut the lid and open it the first time, it sleeps fine and wakes up fine, but then when I close the lid again it just hangs

[2016-01-01 22:45] reynhout commented on #117
What Chromebook model?

[2016-01-01 22:50] hjam91 commented on #117
Dell Chromebook 11 (2014)

[2016-01-02 00:16] reynhout commented on #93
Also probably from `/etc/lsb-release`. I wonder if it's safe to update the `DISTRIB_DESCRIPTION` field, which might only be used for display purposes?

[2016-01-02 03:50] hugegreenbug commented on #96
Lxdm is in the latest nightlies now. The only thing missing is a patch for mouse motion scaling for the CrOS touchpad driver that I'm working on.

[2016-01-02 03:52] hugegreenbug commented on #90
User switching should work in the latest nightlies. Lxdm and xscreensaver is replacing slim and slim lock.

[2016-01-02 04:29] hugegreenbug commented on #84
I have been able to reproduce this on my c740. Restarting NetworkManager will reconnect and scan the networks again. It seems like a network manager bug. I don't have a solution yet.

[2016-01-02 04:30] hugegreenbug commented on #77
Fixed by removing the cros mouse driver for external mice.

[2016-01-02 04:30] #77 closed

[2016-01-02 04:31] hugegreenbug commented on #63
We are replacing slim with lxdm

[2016-01-02 04:31] #63 closed

[2016-01-02 04:32] hugegreenbug commented on #61
We are replacing slim with lxdm

[2016-01-02 04:32] #61 closed

[2016-01-02 04:34] hugegreenbug commented on #56
Fixed by removing the cros mouse driver's external mouse support

[2016-01-02 04:34] #56 closed

[2016-01-02 18:08] reynhout commented on #44
Tested 1920x1280 on a YUNA (Acer Chromebook 15, 15" screen), and all UI elements were usably-sized. Trackpad movement was reasonable. No complaints at all.

The PIxels are 2560x1700, which might present other issues.

[2016-01-02 20:26] corcoran commented on #68
My forked driver actually won't work for GANDOF as the module does filter based on device name.  If you're a GANDOF user feel free to reach out to me and I'll try to troubleshoot getting it working on your device.

[2016-01-02 21:47] reynhout opened #118 "Update package version strings with new format"
As described in https://wiki.galliumos.org/Packaging

[2016-01-02 21:57] ColtonDRG commented on #87
You're overthinking it.

F11 and F12 are mapped to Super - and Super =, respectively. The entire F key row are mapped as such.

F1 = Super 1
F2 = Super 2
F3 = Super 3
F4 = Super 4
F5 = Super 5
F6 = Super 6
F7 = Super 7
F8 = Super 8
F9 = Super 9
F10 = Super 0
F11 = Super -
F12 = Super =

[2016-01-02 22:30] reynhout commented on #118
When we update the version strings and push the packages to vivid-galliumos-testing, anyone with that repo enabled will get a "DOWNGRADE" message when they upgrade. But that's OK. :)

This is a priority for me in getting the builder/publisher scripts working and doing the right things as package versions care updated. If there are no objections, I'll just run through all the repos and update the v

[2016-01-02 22:35] ColtonDRG commented on #93
Probably. I'll look into it.

[2016-01-02 22:37] ColtonDRG commented on #44
Some 13" devices also have 1920x1080 screens, so I'm not sure if that will be usable.

[2016-01-02 22:39] ColtonDRG commented on #84
I see. So maybe I'll just have to restart NetworkManager whenever I turn on WiFi and it's not working. That's not the end of the world. Thanks.

Also, I doubt many others will be turning their WiFi off like that, so I don't think it's a top priority for us to solve. Closing as wontfix.

[2016-01-02 22:39] #84 closed

[2016-01-02 22:41] ColtonDRG commented on #90
User switching will work, but it still won't be a friendly solution for RAM. We should leave this open.

[2016-01-02 22:47] ColtonDRG commented on #89
Hm, okay. I would like to see this fixed, but if we can't, that's fine.

[2016-01-02 22:47] ColtonDRG commented on #110
@zephyrsin Wrong place. I've fixed this issue, just haven't commited the changes yet. I'll do it later today.

[2016-01-02 22:49] ColtonDRG commented on #116
I think users can get a bit wreckless when it comes to PPAs, and install things that wreck their systems, but many users have complained about it, so we should probably fix it.

[2016-01-02 22:50] ColtonDRG commented on #118
I'm not sure what label this belongs in, so I added all of them

[2016-01-02 23:21] ColtonDRG commented on #89
Since this seems to be the same issue as #93, let's merge it.

[2016-01-02 23:21] #89 closed

[2016-01-03 18:59] reynhout opened #119 "Problems installing from Live Image"
This is a recurring report, but I don't know the details, please add them if you do.

[2016-01-04 03:12] hjam91 commented on #117
I did a clean install again, It's working fine now, maybe it was something I installed. But I did use the same ISO from the day of the release this time, not sure if that matters

[2016-01-04 03:15] ColtonDRG commented on #117
Huh, okay. I have been unable to reproduce, so I'll just close it.

[2016-01-04 03:15] #117 closed

[2016-01-06 04:10] atarr2533 opened #120 "Can't get past login screen"
I tried to log back in and no combination of username/password will log in.  When I type my username/password, it brings back up the username box.  There are no other options in the login screen.  Either login or force shutdown

[2016-01-06 04:40] ColtonDRG commented on #120
As long as you are entering the correct username and password, it shouldn't happen. Try logging into the console (Ctrl+Alt+F3). This is only a valid issue if you _can_ log into the console, but you _can not_ log into SLiM.

[2016-01-06 18:16] Morlok8k commented on #119
installing nightly Jan 2nd 2016: On Samsung Chromebook 2, "Winky", i get the following error twice: `Error fsyncing/closing /dev/mmcblk0rpmb: Input/Output error`

the first time near the beginning of installer, 2nd time (with installer crash) just a little after the installation process starts.

[2016-01-07 02:05] reynhout opened #121 "Samsung Chromebook 2 (2014, WINKY) touchpad issues"
Atmel driver just enabled in mainline (4.4.0) kernel.

https://sites.google.com/site/winkychromebook/

https://launchpadlibrarian.net/230150620/atmel-winky.patch

[2016-01-07 16:48] coolstar opened #122 "Acer C740 WiFi dropping packets"
The WiFi is dropping packets on the Acer C740 with GalliumOS when it's connected to my 5 Ghz 802.11ac access point from my OnHub. Speed tests get the full speed for part of the test but drop down to 0 at times and come back a second later. This issue does not happen in Chrome OS or Windows 10 on the Acer C740.

[2016-01-08 01:44] Yekutiel opened #123 "Unable to unmute with mouse"
On my Acer C720 with 4 gigs of RAM I can mute my audio with my mouse but I **cannot unmute audio** with my mouse.

To unmute audio I either press the Search Button + the Dedicated Mute button (which is above the zero key) or the dedicated mute button on my external USB keyboard, which is the keyboard I normally use when I use my Acer C720.

[2016-01-09 06:11] Reticent0 commented on #120
I'm having a similar issue. I know I'm typing in my login info correctly because if I don't, then I'm sent back to type my user name. When I do type my password correctly, I get the message, "Failed to execute login command" followed by the screen going black with a brief glimpse of a terminal prompt and then I'm sent back to the login screen. I've tried looking it up but solutions involve being a

[2016-01-09 15:40] reynhout commented on #102
Discussion of internal mic on SWANKY, with workaround: https://www.reddit.com/r/GalliumOS/comments/3yxddt/no_builtin_microphone_on_swanky/

[2016-01-10 02:41] reynhout commented on #120
"Failed to execute login command" means that SLiM got an error when trying to start X11.

Your `xinitrc` was correct without adding those last two lines; you must have been getting an error from the one line that is supposed to be there.

There are probably more informative log messages somewhere (possibly `/var/log/syslog`), but one thing to check in your home directory:

`ls -la .[Xx]*`

If ther

[2016-01-11 18:37] reynhout commented on #118
Committed.

[2016-01-11 18:37] #118 closed

[2016-01-12 16:49] hugegreenbug commented on #82
Fixed in nightlies

[2016-01-12 16:49] #82 closed

[2016-01-12 18:34] aissixtir opened #124 "add-apt-repository command is not working/ Dell CB 13 cel, want me to check something?"
Hey there,

I try to add a ppa but the add-apt-repository command is not working

also I have a dell cb 13 and I have fully installed GalliumOS. DO you want me to try something ?

I runned the johnlewis script.

[2016-01-12 18:40] reynhout commented on #124
Dupe of #116 , which is expected to be fixed before the next beta.

In the meantime, you can manually `sudo apt-get install software-properties-common`, and the `add-apt-repository` command will be installed.

[2016-01-12 18:40] #124 closed

[2016-01-12 18:46] reynhout commented on #7
Reopening in light of recent discussion re: Chrome/ium and kswapd0. See https://www.reddit.com/r/GalliumOS/comments/404o4e/kswapd0_at_99_observations_and_conclusion_kernel/

We should collect more user reports, but if Chrome/ium and kswapd0 cause this much disruption on all/most models, and we can't pull anything out of the Elementary kernel that might fix it...we should consider *not* shipping Ch

[2016-01-12 18:49] hugegreenbug commented on #7
Sure. I also wanted to check out making cgroup rules for chromium/chrome that would limit the swappiness more than the system limit.

[2016-01-12 20:13] reynhout commented on #116
@hugegreenbug recommends pulling `add-apt-repository` out into a separate pkg, because `software-properties-common` includes a daemon that's running all the time.

Would need to provide some conflict resolution if `software-properties-common` is added later, manually.

[2016-01-13 01:57] sirpennywise commented on #68
I'd love to get the keyboard back lights working on my GANDOF Chromebook 2. What is the best way to contact you? Github does not seem to have a way to send messages. Thanks!

[2016-01-13 13:03] corcoran commented on #68
I'm in #galliumOS on freenode, drop on by & we'll figure it out

[2016-01-13 18:56] caskaid commented on #100
Using the "Possible Solution" repository in the top post resulted in completed broken gallium instance after rebooting. Black screen, no tty, nothing.

[2016-01-14 01:01] wamacdonald89 commented on #100
@caskaid I can confirm this behavior as well. There may be a solution in there after changing some configs but ultimately we should not be suggesting this as a solution since it completely replaces the galliumos optimized kernel.

[2016-01-14 01:15] welbinator commented on #100
We should ask pitch in and buy these guys a pixel

[2016-01-14 01:15] welbinator commented on #100
all* pitch in

[2016-01-16 13:28] adrinux commented on #123
The same happens on my HP14 Falco. I've just gotten used to using the key for mute, its easier than using a mouse anyway.

[2016-01-16 18:49] caskaid commented on #44
I have a Pixel2 (2015 Pixel) and would be interested in testing the theme or anything else you're putting together.

[2016-01-16 20:22] reynhout commented on #79
closed

[2016-01-16 20:22] #79 closed

[2016-01-17 02:57] #29 closed

[2016-01-17 05:52] Yekutiel commented on #123
I have also become accustomed to using the key for mute but I figured I would report the glitch. I also find that using the mute button is easier than using a mouse.

[2016-01-17 12:34] aissixtir commented on #123
Dell CB 13 here, I have the same issue but I cannot unmute it with any key combination so far.

[2016-01-17 19:23] izenn commented on #68
I found this that works on my gandof:
http://www.pants.nu/~jmcminn/toshiba-2015-chromebook-linux.html

[2016-01-17 19:25] izenn commented on #20
this would be great - especially being able to configure 2 and 3 finger horizontal actions.  Is there anything i could start working on that would help?

[2016-01-17 20:02] Yekutiel commented on #123
I don't have a solution but I presume this thread will provide the developers with sufficient information to persuade them that this glitch actually exists.

[2016-01-17 20:16] hugegreenbug commented on #123
I think this issue is about the the applet in the panel. It doesn't have a mute checkbox. Is that what this issue is about?

[2016-01-17 20:37] Yekutiel opened #125 "Open Whisker Menu with the Windows key"
The following might seem “ho-hum” or “boring” to technically oriented folks, but to encourage widespread adoption of Gallium OS, finishing touches like the following should be applied.

I haven't regularly used Microsoft Windows in years but I used to find it handy to press the "Windows key" (Super_L) on my external keyboard to popup (launch) the Microsoft Windows Task bar. (I use the Perixx PERIB

[2016-01-17 20:42] hugegreenbug commented on #125
We are using the crouton keymap in beta1. That map uses the Super key (Search key) as a special overlay key for the media keys. So, Search + F6 will lower the brightness. For beta2, we are going to be including multiple key maps with different configurations, so the Super can be used again if you want to use a different keyboard map. This is already an issue in a few forms. The closest issue is: h

[2016-01-17 20:42] #125 closed

[2016-01-17 21:04] reynhout commented on #52
Reopening with new data. Lots of information at: https://www.reddit.com/r/GalliumOS/comments/404o4e/kswapd0_at_99_observations_and_conclusion_kernel/

[2016-01-17 21:14] reynhout commented on #52
Problem appears most commonly when running Chrome/ium, presumably due to the process-per-tab model, effectively running multiple large memory processes simultaneously. Has been repro'ed without Chrome/ium, but only with greatly reduced RAM enabled.

@hugegreenbug has suggested testing Chrome/ium in a cgroup to see if it contains the runaway.

Some kernel versions apparently do not exhibit the beha

[2016-01-17 21:17] corcoran commented on #68
https://github.com/corcoran/chromebook_keyboard_backlight_driver has been updated to add support for Gandof.  (Thanks @izenn)

[2016-01-17 21:29] hugegreenbug commented on #68
I'll include this updated version and include a script to autoload the module for beta2

[2016-01-18 00:00] Yekutiel commented on #123
Thank you for spending the time to respond to this issue. I am sorry I did not explain the glitch in a manner which you were able to easily comprehend.

To answer your question: no,  that is not what this issue is about.

If I "right click" with my mouse over the sound icon in the panel I can see a checkbox next to mute, but once I have used the mouse to mute the sound **I cannot unmute audio with

[2016-01-18 00:05] Yekutiel commented on #125
I see.

[2016-01-18 00:08] Yekutiel opened #126 "Users & Groups "Don't ask for password on login" inactive"
I set up a user with "Password: Not asked on login" yet a password is still required for that user to login.

[2016-01-18 00:14] adrinux commented on #123
I'm using the dev(?) repos. I can neither mute nor unmute with the mouse since it's just a volume controller in the panel applet.
But I think there was some confusion on my part because the behaviour of the keys differs from my desktop with an Apple keyboard, at least in OSX (I can check how ubuntu deals with the buttons too). The falco and the Apple keyboard both have three keys: mute, volume dow

[2016-01-18 00:39] veganism commented on #126
As a temporary solution, you can edit `/etc/slim.conf` and change the lines

    #default_user        simone
    #auto_login          no

to

    default_user        your-username-here
    auto_login          yes

Preferably the installer should edit these lines when the user selects to not require a password on login.

[2016-01-18 01:17] Yekutiel commented on #123
I can mute with a mouse. I followed the directions at https://galliumos.org/download.html. Therefore, I suppose I am using Galluim OS beta 1 for end users.

Being able to change volume levels while the sound is muted does not seem like an odd behaviour to me at all.  To me it seems intuitive. Think of an old analog stereo receiver: the power button was was functionally a mute button (“Quick!! Mom’

[2016-01-18 01:47] reynhout commented on #123
@Yekutiel you would be on beta1 then, but there have been many updates since then, and the audio applet is completely different now. You can update with `apt-get update ; apt-get dist-upgrade`.

Unfortunately, I don't think the new audio applet is different in a way that will resolve your concerns.

Right clicking on the new applet brings up a context menu from which you can do many things, but mu

[2016-01-18 01:59] reynhout commented on #126
@Yekutiel: Do you mean when "Password: Not asked on login" ... during the installation process from ISO?

GalliumOS beta1 uses SLiM as the login manager. Future releases starting with beta2 will use lxdm instead. As such, it probably doesn't make much sense to try to fix this right now in SLiM, but we should test it when integrating lxdm.